@mixin fontawesome($icon) {
	content:$icon;
	font-family: 'FontAwesome';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin flexbox($width, $height, $bg) {
    display: -webkit-flex;
    display: flex;
    width: $width;
    height: $height;
    background-color: $bg;
}

@mixin modalFadeIn($times){
    -webkit-transition: -webkit-transform $times ease,opacity $times ease,visibility $times;
    -webkit-transition: opacity $times ease,visibility $times,-webkit-transform $times ease;
    transition: opacity $times ease,visibility $times,-webkit-transform $times ease;
    transition: transform $times ease,opacity $times ease,visibility $times;
    transition: transform $times ease,opacity $times ease,visibility $times,-webkit-transform $times ease;
}

@mixin flex($flex-grow, $flex-shrink:"", $flex-basis:"") {
  -webkit-box-flex: $flex-grow #{$flex-shrink} #{$flex-basis};
  -moz-box-flex:  $flex-grow #{$flex-shrink} #{$flex-basis};
  -webkit-flex:  $flex-grow #{$flex-shrink} #{$flex-basis};
  -ms-flex:  $flex-grow #{$flex-shrink} #{$flex-basis};
  flex: $flex-grow #{$flex-shrink} #{$flex-basis};

     @if $flex-basis != '' {
          max-width: $flex-basis;
      }
}

@mixin gradientTopBottom($top, $bottom){
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($bottom), to($top)); /* Safari 5.1, Chrome 10+ */ 
  background: -webkit-linear-gradient(top, $top, $bottom); /* Firefox 3.6+ */ 
  background: -moz-linear-gradient(top, $top, $bottom); /* IE 10 */ 
  background: -ms-linear-gradient(top, $top, $bottom); /* Opera 11.10+ */ 
  background: -o-linear-gradient(top, $top, $bottom); 
}

@mixin gradientLeftRight($left, $right){
  background: -webkit-gradient(linear, left top, right top, from($left), to($right)); /* Safari 5.1, Chrome 10+ */ 
  background: -webkit-linear-gradient(left, $left, $right); /* Firefox 3.6+ */ 
  background: -moz-linear-gradient(left, $left, $right); /* IE 10 */ 
  background: -ms-linear-gradient(left, $left, $right); /* Opera 11.10+ */ 
  background: -o-linear-gradient(left, $left, $right);
}

@mixin gradientLeftCenterRight($left, $right){

  background: $left;
  background: -moz-linear-gradient(left, $left 0%, $right 50%, $left 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $left), color-stop(50%, $right), color-stop(100%, $left));
  background: -webkit-linear-gradient(left, $left 0%, $right 50%, $left 100%);
  background: -o-linear-gradient(left, $left 0%, $right 50%, $left 100%);
  background: -ms-linear-gradient(left, $left 0%, $right 50%, $left 100%);
  background: linear-gradient(to right, $left 0%, $right 50%, $left 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right', GradientType=1 );

}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, -50%);
  }
  
  50% {
    transform: translate(4px, -50%);
  }
  
}
