.about-us{
	.sub{
		line-height: 1.6;
	}
}
.credit-rating{
	// .container.s{overflow: initial;}
	.container.s{
		padding: 2rem 0 0;
		@include sm-mobile {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
	h4{ font-size: 28px;}
	p{
		line-height: 1.6;
		a{
			border-bottom: 1px dotted;
		}
	}
	.circle-img{
		width: 300px;
		height: 220px;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 300px 260px;
		@include mobile {width: 100%;}

	}
	@include sm-mobile {
		margin-bottom: 2rem;
		[class*='col-']{
			width: 100%;
			img{
				width: auto;
			}
		}
	}
}
.directory{
	h4{ font-size: 28px;}
	.row {
	    float: left;
	    width: 100%;
	    h5{
			font-size: 22px;
			border-bottom: 1px solid #000072;
	    }
	    .detail-block{
	    	margin-bottom: 1rem;
	    	.row{
    		    margin-bottom: 10px;
    		    font-size: 14px;
    		    a{border-bottom: 1px dotted;}
	    	}
	    }
	}
	@include mobile {
		.col-1of2-g{width: 100%;margin-left: 0;margin-right: 0;}
	}
}

.meet-the-team{
	margin: 2rem 0;
	h2{
		@include sm-mobile {
			line-height: 1;
			font-size: 45px;
		}
	}
	.title{
		.sub{
			line-height: 1.6;
			p{
				// font-size: 14px;
				line-height: 1.6;
			}
		}
	}
	.members{
		h5{
			font-size: 22px;
			border-bottom: 1px solid #000072;
		}
		img{
			border-radius: 200px;
			@include mobile {
				// width: 100%;
			}
		}
		.detail-block{
			margin-bottom: 1rem;
			line-height: 1.5;
			p{
				line-height: 1.5;
				&:first-child{
					margin-top: 0;
				}
			}
		}
	}
	@include mobile {
		[class*='col-']{width: 100%;margin-left: 0;margin-right: 0;}
	}
}

.useful-links{
	margin-bottom: 3rem;
    h5{
		font-size: 22px;
		border-bottom: 1px solid #000072;
    }
}

.blurb.homepage{
	border-width: 1px 0 1px;
	border-style: solid;
	border-color: $primary-base;
	padding: 65px 0;
	@include sm-mobile {
		padding: 30px 0;
	}
	.container{
		text-align: center;
		@include mobile {
			padding: 0 15px;
		}
	}
	h5,.h5{
		font-size: 22px;
		margin-top: 0;
		@include mobile {
			font-size: 20px;
		}
	}
	h3,.h3{
		font-size: 30px;
		font-weight: 900;
		margin-bottom: 0;
		@include mobile {
			font-size: 30px;
		}
	}

}