

@mixin icon($icon) {
    content:$icon;
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: inherit;
    vertical-align: middle;

    /* Better Font Rendering =========== */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }


input[type=radio],input[type=checkbox] {
  position: absolute;
  left: -9999px;
  height: 0;
  width: 0;
  user-select: none;
}

input[type=radio]:checked+.radio-btn,input[type=checkbox]:checked+.radio-btn {
    opacity:1;
    &:before{
      @include icon($icon-tick-thick);
      opacity:1;
    }

}

input[type=radio]:checked+.radio-btn.radio-select,input[type=checkbox]:checked+.radio-btn.radio-select {
   span.text-unchecked{display:none;}
   span.text-checked{display:inline;}
}
input[type=radio]+.radio-btn.radio-select,input[type=checkbox]+.radio-btn.radio-select {
      span.text-checked{display:none;}
}

.radio-btn:hover {
  opacity: .9;
    &:before{
      opacity:1;
    }
}


input[type=radio]:checked+.radio:after,input[type=checkbox]:checked+.checkbox:after {
  visibility: visible;
  transform: scale(1);
}

input[type=radio]:checked+.radio:before,input[type=checkbox]:checked+.radio:before {
  border: solid 1px $secondary-base;
}

input[type=radio]:checked+.checkbox:before,input[type=checkbox]:checked+.checkbox:before {
  visibility: visible;
    color: $primary-base;
    transform: scale(1);
}






input[type=radio]:checked+.checkbox:after,input[type=checkbox]:checked+.checkbox:after {
  //background: $primary-base;
  border: solid 1px #aaa;
}

input[type=radio]:disabled+.checkbox,input[type=checkbox]:disabled+.checkbox {
  cursor: not-allowed;
  opacity: .2;
}



input[type=radio]+label,input[type=checkbox]+label {
  user-select: none;
  font-size:90%;
  display: inline-block;
  line-height: 1.3;
}

input[type=radio]+label:hover,input[type=checkbox]+label:hover {
  cursor: pointer;
}

input[type=radio]+label .sub,input[type=checkbox]+label .sub {
  color: #b7b7b7;
  display: block;
  margin-top: -3px;
}

.radio-btn {
  opacity:.5;
  &:before{
      transition:opacity .2s ease;
      @include icon($icon-tick);
      opacity:.3;
      margin-right:.6em;
  }
}



.radio-btn.radio-btn--inline {
  width: auto;
  display: inline-block;
}

.radio-btn.radio-btn--inline:after {
  margin-left: 0.75rem;
}

.radio-btn:hover {
  cursor: pointer;
}

.radio-btn:after {
  display: none;
}

.radio {
  margin: .2rem 0.7rem 0.7rem 0;
  width: 100%;
  padding-top:.2em;
  position: relative;
  padding-left: 1.7rem;
}

.radio.radio--inline {
  width: auto;
  display: inline-block;
}

.radio:hover {
  cursor: pointer;
}

.radio:before {
  content: "";
  display: block;
  border-radius: 50%;
  border: solid 1px #aaa;
  transition: border-color .1s ease;
  width: 22px;
  height: 22px;
  top:0;
  position: absolute;
  left: 0;
}

.radio:after {
  content: "";
  display: block;
  border-radius: 50%;
  transition: transform .1s ease;
  visibility: hidden;
  background: $primary-base;
  width: 12px;
  height: 12px;
  transform: scale(.5);
  position: absolute;
  left: 5px;
  top: 5px;
  margin: 0;
}

.checkbox {
  margin: .2rem 0.7rem 0.7rem 0;
  padding-top:.2em;
  width: 100%;
  position: relative;
  padding-left: 2.475rem;
}

.checkbox.checkbox--inline {
  width: auto;
  display: inline-block;
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox:before {
  transition:transform .1s ease;
  display: block;
  @include icon($checkbox-tick-icon);
  position: absolute;
  left: 3px;
  transform: scale(.01);
  top: 3px;
  font-size: 16px;
  z-index: 2;
  color: #222;
}

.checkbox:after {
  content:'';
  color:#fff;
  font-size:20px;
  border: solid 1px #ccc;
  width: 22px;
  background-color: #f9f9f9;
  height: 22px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  z-index: 1;
}

.radio,.checkbox{
  transition:color .1s ease;
}


input[type=radio].input-lg,input[type=checkbox].input-lg{


}


input[type=radio].input-lg + .radio{
    font-size:115%;
    padding-left: 2.1rem;

    &:before {
      border: solid 1px #999;
      width: 26px;
      height: 26px;
    }

    &:after {
      background: $primary-base;
      width: 16px;
      height: 16px;
      left: 5px;
      top: 5px;
    }

}




input[type=radio].reveal-trigger:checked+label+.reveal-area,input[type=checkbox].reveal-trigger:checked+label+.reveal-area {
    max-height:400px;
}

input[type=radio].reveal-trigger:not(:checked)+label+.reveal-area,input[type=checkbox].reveal-trigger:not(:checked)+label+.reveal-area {
    max-height:0;
    padding-top:0;
    overflow: hidden;
    padding-bottom:0;
    border-bottom:0;
}