.ui.contact-us{
	margin: 50px 0 60px;
	@include mobile {
		margin-top: 20px;
	}
	h1{
		font-size: 35px;
		@include sm-mobile {
			font-size: 30px;
		}
	}
	.left{
		.sub{
			line-height: 1.6;
			a{
				border-bottom: 1px solid $primary-base;
			}
		}
		ul{
			list-style: none;
			padding-left: 0;
			margin-top: 10px;
			float: left;
			width: 100%;
			li{
				margin: 10px 0;
				&:first-child{
					margin-top: 0;
				}
				a{
					border-bottom:1px solid $primary-base;
				}
			}

		}
		div.phonenumber{
			margin-bottom: 2rem;
			float: left;
			width: 100%;
		}
		div.bank-account{
			float: left;
			width: 100%;
		}
	}
	.right{
		.sub{
			line-height: 1.6;
		}
		article{
			margin-left: 50px;
			@include mobile {
				margin-left: 0;
			}
			form{
				float: left;
				width: 100%;
				.row{
					margin: 10px 0;
					float: left;
					width: 100%;
					.form-cell{
						label {
							display: block;
							margin-bottom: 5px;
						}
						input{
							display: block;
							width: 100%;
						}
						textarea{
							display: block;
							width: 100%;
							min-height: 12rem;
						}
						
					}
					.col-1of2-g{
						@include sm-mobile {
							width: 100%;
							margin: 0;
							&:first-child{
								margin: 0 0 10px;
							}
						}
					}
				}
				input[type="submit"], button.button{
				    margin-top: 10px;
					background-color: $submit-green-base;
					&:hover{
						background-color: darken($submit-green-base, 5%);
					}
					span{
						margin: 0 7px;
						font-weight: normal;
					}
				}
			}
		}
	}
	.left, .right{
		@include mobile {
			width: 100%;
			margin-bottom: 2rem;
		}
	}
}