/* Buttons */
button, .button {
  color: $white-base;
  background: $primary-base;
  font-size: $header-nav-size;
  border-radius: $radius-base;
  padding: $size-r1;
  font-weight: $font-bold;
  cursor: pointer;
  white-space: nowrap;
  transition: background .5s ease, color .5s ease, box-shadow .5s ease, border .5s ease;
  display: inline-block;
  border: none;
  &:hover {
    @extend button;
    background: $secondary-base;
  }
  &.shadow {
    box-shadow: inset 0 -3px 0 $black-dark;
  }
  &.btn-cancel{
    background-color: $grey-base;
    &:hover{
      background-color: darken($grey-base, 20%);
    }
  }
}
.button-pri {
  @extend button;
  background: $primary-base;
  border: 1px solid $primary-dark;
  &:hover {
    @extend .button-pri;
    background: $primary-light;
  }
  &.shadow {
    box-shadow: inset 0 -3px 0 $primary-dark;
    &:hover {
      box-shadow: inset 0 -3px 0 $primary-dark;
    }
  }
}
.button-sec {
  @extend .button;
  background: $secondary-base;
  border: 1px solid $secondary-dark;
  &:hover {
    @extend .button-sec;
    background: $secondary-light;
  }
  &.shadow {
    box-shadow: inset 0 -3px 0 $secondary-dark;
    &:hover {
      box-shadow: inset 0 -3px 0 $secondary-dark;
    }
  }
}
.button-ter {
  @extend .button;
  background: $tertiary-base;
  border: 1px solid $tertiary-dark;
  &:hover {
    @extend .button-ter;
    background: $tertiary-light;
  }
  &.shadow {
    box-shadow: inset 0 -3px 0 $tertiary-dark;
    &:hover {
      box-shadow: inset 0 -3px 0 $tertiary-dark;
    }
  }
}
.button-alert {
  @extend .button;
  background: $alert-base;
  border: 1px solid $alert-dark;
  &:hover {
    @extend .button-alert;
    background: $alert-light;
  }
  &.shadow {
    box-shadow: inset 0 -3px 0 $alert-dark;
    &:hover {
      box-shadow: inset 0 -3px 0 $alert-dark;
    }
  }
}
.outline {
  background: transparent;
  color: $grey-dark;
  border: 1px solid $grey-dark;
  &:hover {
    @extend .outline;
    color: $black-light;
    border: 1px solid $black-light;
  }
  &.shadow {
    box-shadow: inset 0 -3px 0 $grey-dark;
  }
}
button:disabled, a.button.disabled, input:disabled{
  color: lighten($grey-base, 10%) !important;
  background: $grey-base !important;
  border: 1px solid $grey-base;
  cursor: default;
  &:hover {
    color: $white-base;
    background: $grey-base;
    border: 1px solid $grey-base;
  }
}
button.shadow:disabled, a.button.shadow.disabled, input.shadow:disabled {
  box-shadow: inset 0 -3px 0 $grey-base;
}
button.clear {
  background: none;
  padding: 0;
  border: none;
}
button > i, a > i {
  margin-left: .5rem;
  margin-right: .5rem;
}
.toggle {
  background: $grey-base;
  border-color: $grey-dark;
  &:hover {
    background: $grey-light;
    border-color: $grey-dark;
  }
  &.active {
    background: $primary-base;
    border-color: $primary-dark;
  }
  &:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.wide, .wide:hover, a.wide:hover {
  padding-left: 3rem;
  padding-right: 3rem;
}
.square, .square:hover, a.square:hover {
  border-radius: 0;
}

/* Images */
.thumb {
  width: $thumb-width;
}

/* Forms */
input, textarea {
  @extend .white-bd-d;
  padding: $size-r1;
  font-weight: $font-light;
  transition: border 0.5s ease;
}

.select-holder{
    padding: 0;
    -webkit-appearance: none;
    height: auto;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: 0 !important;
    font-weight: $font-light;
    transition: border 0.5s ease;
    &:before {
      right: 2%;
      top: 50%;
      margin-top: -3px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(119, 119, 119, 0);
      border-top-color: #777;
      border-width: 5px;
      margin-left: -5px;
  }
  select{
   -moz-appearance: none;
    background-color: transparent;
    background-image: none;
    border: medium none;
    box-shadow: none;
    color: #666;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    padding: .55em .75em;
    font-size: 16px;
    height: 45px;
    line-height: normal;
    line-height: normal;
    margin: -1px;
    position: relative;
    width: 100%;
    z-index: 10;
  }  
}
input{
  padding: .55em .75em;
  font-size: 16px;
  height: 45px;
  line-height: normal;
      background-color: #fff;
    border: 1px solid #ccc;
}

input:focus, textarea:focus {
  @extend .grey-bd;
}

/* arrows */
@mixin arrow-up($color, $size) {
  width: 0; 
  height: 0; 
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $size solid $color;
}
@mixin arrow-down($color, $size) {
  width: 0; 
  height: 0; 
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid $color;
}
@mixin arrow-right($color, $size) {
  width: 0; 
  height: 0; 
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: $size solid $color;
}
@mixin arrow-left($color, $size) {
  width: 0; 
  height: 0; 
  border-top: $size solid transparent;
  border-bottom: $size solid transparent; 
  border-right:$size solid $color;
}

/* list */
.list {
  list-style-type: none;
  // background-color: $white-light;
  & li {
    margin: 0;
    border-top: 1px solid $white-dark;
    border-left: 1px solid $white-dark;
    border-right: 1px solid $white-dark;
    border-bottom: 1px solid $white-dark;
    padding: 1rem;
    margin-top: -1px;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      border-bottom: 1px solid $white-dark;
    }
    &:hover {
      background-color: $white-base;
    }
    &.active {
      color: $white-light;
      background-color: $primary-base;
    }
  }
}

/* tab */
.menu{
  .item{
    cursor: pointer;
  }
}

/* tick */
.circ{
    opacity: 0;
    visibility: hidden;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.tick{
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
    -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}
.selected svg .path{
    opacity: 1;
    visibility: visible;
    stroke-dashoffset: 0;
}