
.hero.ui{
	position: relative;
	.header-block{
		background-color: $primary-base;
		@include gradientLeftCenterRight($primary-dark, #0000df);
		color: #fff;
		position: relative;
		.text{
			padding-left: 20px;
			@include mobile {
				padding: 0 2%;
			}
			@include sm-mobile {
			}
			section{
				height: 570px;
				display: table;
				width: 90%;
				margin-left: 5%;
				background-image: url('../images/smart-pay-img.png');
				background-repeat: no-repeat;
				background-position: 100% 100%;
				@include sm-desktop {
					background-size: 380px auto;
				}
				@include mobile {
					height: 450px;
					background-size: 300px auto;
					width: 100%;
					margin: 0;
				}
				@include sm-mobile {
					background-size: 140px auto;
					height: 250px;
				}
				div{
					vertical-align: top;
				}
				.table-cell{
					display: table-cell;
					vertical-align: middle;
					text-align: left;
					padding: 0;
					@include sm-mobile {
						padding-bottom: 0;
						padding-right: 15px;
						padding-left: 15px;
						text-align: left;
					}
					h1{
						@include mobile { margin: 1rem 0 1rem;}
						@include sm-mobile {
							font-size: 22px;
						}
					}
					.h2{
						@include sm-mobile {
							font-size: 40px;
							margin-top: 0;
							margin-bottom: 0;
						}
					}
					p{
						line-height: 1.6;
						font-size: 20px;
						@include sm-desktop {
							width: 50%;
						}
						@include sm-mobile {
							width: 100%;
							line-height: 1.4;
							font-size: 16px;
							margin-top: 0;
						}
						a{
							font-style: italic;
							color: #fff;
						}
					}
				}

			}
			h1{
				font-size: 2rem;
				line-height: 2.5rem;
				margin: 0 0 2.5rem;
				text-align: center;
				@include sm-mobile {
					font-size: 28px;
					line-height: 28px;
				}
			}
			h2{
				font-size: 18px;
				margin: 35px 0 0;
				@include sm-mobile {
					margin-top: 15px;
				}
			}
			h3{
				font-size: 18px;
				font-style: italic;
				margin:  0;
				@include sm-mobile {
					margin: 15px 0;
				}
			}
			.cta-block{
				a{
					font-size: 18px;
					height: 55px;
					line-height: 55px;
					padding: 0;
					width: 335px;
					text-align: center;
					background-color: #fff;
					color: $primary-base;
					border:none;
					&:hover{
						background-color: $submit-green-base;
						color: #fff;
					}
					@include sm-mobile {
						width: 100%;
						height: 45px;
						line-height: 45px;
					}
				}
				h6{
					font-size: 16px;
					font-style: italic;
					width: 335px;
					text-align: center;

					@include mobile {
						display: block;
						margin: 1rem auto;
					}
					@include sm-mobile {
						width: 100%;
						margin-bottom: 0;
					}
				}
			}
		}

	}
}

.ui.fei-financing{
	margin: 55px 0;
	@include sm-mobile {
		margin: 20px 0;
	}
	p{
		line-height: 1.6;
	}
}
.ui.success-stories{
	padding: 55px 0;
	border-top: 1px solid $primary-base;
	@include sm-mobile {
		padding: 20px 0;
	}
	h1{
		margin-bottom: 50px;
		@include mobile {
			margin-bottom: 20px;
		}
	}
	p{
		line-height: 1.6;
	}
	.row{
		width: 100%;
		float: left;
		margin-bottom: 40px;
		@include mobile {
			margin-bottom: 0px;
		}
		@include sm-mobile {
			margin-bottom: 20px;
			&:first-child{
				margin-bottom: 0;
			}
		}
	}
	.row h5.title {
	    font-size: 22px;
	    border-bottom: 1px solid #000072;
	}
	.left{
		p{
			&:first-child{
				margin-top: 0;
			}
		}
	}
	.right{
		text-align: right;
		img{
			border-radius: 200px;
			@include sm-mobile {
				width: 50%;
			}
		}
	}
	.left, .right{
		@include mobile {
			width: 100%;
			text-align: left;
		}
	}
}