.footer{
	margin: 55px 0;
    font-size: 14px;
	@include mobile {
		margin: 15px 0 30px ;
	}
	@include sm-mobile {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.segment{
		float: left;
	}
	.sitemap{
		width: 15%;
		text-align: center;
		border-right: 1px $primary-base solid;
		@include mobile {
			width: 100%;
			border-right: 0;
			border-bottom: 1px $primary-base solid;
			padding: 0 0 30px;
		}
		@include sm-mobile {
			padding-bottom: 20px;
		}
		.lists{
			display: inline-block;
			text-align: left;
			@include mobile {
				display: block;
				text-align: center;
			}
			.link{
				list-style: none;
				padding-left: 0;
				li{
					margin: 0;
					@include mobile {
					    float: left;
					    padding: 0 10px;
					    width: 33.33333%;
					}
					@include sm-mobile {
						padding: 0;
					}
				}
				a{
					display: inline-block;
					line-height: 30px;
				}
			}

		}
	}
	.about{
		width: 65%;
		text-align: center;
		@include mobile {
			padding: 20px 0 30px;
			
			width: 100%;
			[class*='col-']{
				width: 50%;
				@include sm-mobile {
					width: 100%;
				}
			}

		}
		article{
			max-width: 375px;
			display: inline-block;
			text-align: left;
			@include mobile {
				display: block;
				max-width: 100%;
				padding: 0 15px;
			}
			h5{
				font-size: 16px;
				margin-bottom: 0;
				@include sm-mobile {
					margin-top: 0;
				}
			}
			p{
				margin-top: 1rem;
				line-height: 25px;
				@include mobile {
					margin-bottom: 0;
				}
			}
		}	
	}
	.highlight{
		text-align: left;
		h5{
			font-size: 16px;
			margin-bottom: 0;
			visibility: hidden;
			@include sm-mobile {
				display: none;
			}
		}
		.lists{
			border: 1px solid $primary-base;
			display: inline-block;
			padding: 10px 15px 10px 20px;
			margin-top: 1em;
			@include mobile {
				display: block;
				padding: 0 15px;
			}
			@include sm-mobile {
				margin-top: 20px;
			}
		}
		ul{
			display: inline-block;
			text-align: left;
		    margin: 0;
		    @include mobile {
		    	display: block;
		    	li{
		    		line-height: 1.5;
		    		@include sm-mobile {
		    			margin: 10px 0;
		    		}
		    	}
			}
			@include sm-mobile {
				padding-top: 0;
			}
		}
	}
	.contact{
		width: 20%;
		text-align: center;
		@include mobile {
			width: 100%;
			padding-top: 20px;
			@include mobile {
				border-left: 0;
				border-top: 1px $primary-base solid;
				width: 100%
			}
		}
		@include sm-mobile {
			padding-top: 10px;
		}
		article{
			display: inline-block;
			text-align: left;
			h5{
				font-size: 16px;
				margin-bottom: 0;
			}
			.lists{
				padding-left: 30px;
			    margin-top: 1rem;
				li{
					border: none;
					margin: 20px 0;
					display: block;
					line-height: 25px;
					position: relative;
					&:before{
						position: absolute;
						font-size: 25px;
						top: 4px;
						left: -30px;
					}
					&.address{
					    margin-top: 0;
						&:before{
							@include fontawesome("\f041");
						}
						
					}
					&.website{
						&:before{
							@include fontawesome("\f0ac");
						}
					}
					&.phone{
						&:before{
							@include fontawesome("\f095");
						}
					}
					a{
						line-height: 25px;
					}
				}
			}
		}
	}
}

.footer-legal-disclaimer {
	border-top: 1px solid $primary-base;
    padding: 3rem 0;
    margin-top: 2rem;
    background-color: darken($primary-base, 10%);
    color: #fff;
    .container{
    	article{
		    font-size: 13px;
			line-height: 1.5;
			p{
				a{
					color:#fff;
					text-decoration: underline;
				}
			}
    	}
    }
}