.region-header {
  .pull-left {
    height: 130px;
    display: table;
    @include mobile {
      height: 80px
    }
    @include sm-mobile {}
    a {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .pull-right {
    height: 130px;
    display: table;
    @include mobile {
      height: 80px
    }
    @include sm-mobile {}
    ul {
      display: table-cell;
      vertical-align: middle;
      li {
        &.cd-label {
          display: none;
        }
        a {
          font-size: $header-nav-size;
          text-transform: uppercase;
        }
      }
    }
  }
  &.home{
    @include sm-desktop {
      margin-bottom: 1rem;
    }
    .container{
      @include sm-desktop {
        padding-left: 0
      }
    }
    .pull-left{
      width: 30%;
      @include sm-desktop {height: 80px;padding: 0 2%;}
    }
    .pull-right {
      width: 70%;
      &.top-nav{
        height: 58px;width: auto;
        @include sm-desktop {height: 80px;padding: 0 2%;}
        @include mobile {
          display: none;
        }
        ul{
          vertical-align: bottom;
          position: relative;
          padding-left: 0;
          text-align: right;
          @include sm-desktop {vertical-align: middle;}
          &:before{
            content: '';
            width: 40px;
            height: 40px;
            position: absolute;
            left: -40px;
            bottom: 2px;
            background-color: transparent;
            background-image: url(../images/phone-call-icon.png);
            @include sm-desktop {
              bottom: 50%;
              margin-bottom: -20px;
            }
          }
          li{
            margin: 0;
            text-transform: uppercase;
            text-align: right;
            padding-left: 10px;

            img.phone-call{
              display: block;
            }
            div{
              padding: 0 0 2px;
              cursor: default;
            }
          }
        }
      }
      &.header-nav{
        height: 72px;
        @include sm-desktop {width: 100%;}
        @include mobile {
          height: 100%;
          width: 100%;
        }
        ul{
          text-align: right;
          @include sm-desktop {text-align: left;}
          @include mobile {
            text-align: center;
          }
          li {
            margin: 1rem 20px;
            @include mobile { margin: 1rem 10px; }
            @include sm-mobile {margin: 1rem 10px; }
            &.cd-label{
              margin-bottom: 2.2rem;
            }
            &:last-child{
              margin-right: 0;
            }
            &.active{
              a{
                border-bottom: 1px solid $primary-base;
                color: lighten($primary-base, 20%);
                @include mobile {
                  border-bottom: none;
                }
              }
            }  
            a {
              font-size: 16px;
              transition: color 0.3s ease;
              &.cn{
                font-size: 18px;
              }
              &:hover{
                color: lighten($primary-base, 20%);
              }
            }
          }
        }
      }
    }
  }
}


.header-logo {
  a {
    outline: 0;
    &:hover,
    &:visited,
    &:active,
    &:focused {
      outline: 0;
    }
  }
  img {
    height: 65px;
    width: auto;
    @include sm-mobile {
      height: 65px;
    }
  }
}

.cd-nav-trigger {
  position: fixed;
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  @include mobile {
    opacity: 1;
    visibility: visible;
  }
}

.cd-nav-trigger {
  top: 16px;
  right: 8px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba($primary-base, 0.9);
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  &.nav-open {
    background-color: darken($secondary-base, 15%);
    &:hover {
      background-color: darken($secondary-base, 30%);
    }
  }
}

.cd-nav-trigger .cd-icon,
.cd-nav-trigger .cd-icon::before,
.cd-nav-trigger .cd-icon::after {
  /* icon created in CSS */
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 2px;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.no-touch .cd-nav-trigger:hover {
  background-color: rgba($primary-base, 0.7);
}

.cd-nav-trigger .cd-icon {
  /* middle line of the menu icon */
  display: inline-block;
  width: 18px;
  height: 2px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  -moz-transition: -moz-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}

.cd-nav-trigger .cd-icon::before,
.cd-nav-trigger .cd-icon::after {
  /* upper and lower lines of the menu icon */
  content: '';
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cd-nav-trigger .cd-icon::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}

.cd-nav-trigger .cd-icon::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}

.cd-nav-trigger.nav-open .cd-icon {
  /* user selects a projects - transform the icon into a 'X' */
  background-color: rgba(255, 255, 255, 0);
}

.cd-nav-trigger.nav-open .cd-icon::before,
.cd-nav-trigger.nav-open .cd-icon::after {
  background-color: white;
}

.cd-nav-trigger.nav-open .cd-icon::before {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.cd-nav-trigger.nav-open .cd-icon::after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

.region-header .cd-primary-nav {
  @include mobile {
    -moz-transition: -moz-transform 0.35s ease, opacity 0.35s ease, visibility 0.35s;
    -webkit-transition: -webkit-transform 0.35s ease, opacity 0.35s ease, visibility 0.35s;
    -ms-transition: -ms-transform 0.35s ease, opacity 0.35s ease, visibility 0.35s;
    transition: transform 0.35s ease, opacity 0.35s ease, visibility 0.35s;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background: rgba($secondary-base, 0.97);
    box-shadow: none;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 3em 2em;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 15;
    ul {
      /* vertically align inside nav */
      display: table-cell;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      -webkit-transform: translateY(50px);
      -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
      -o-transform: translateY(50px);
      transform: translateY(50px);
      -webkit-transition: -webkit-transform 0.4s;
      -moz-transition: -moz-transform 0.4s;
      transition: transform 0.4s;
      @include sm-mobile {
        margin-top: 0;
      }
      li {
        position: relative;
        display: block;
        margin: 2.4em 0 2em;
        color: #51696b;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: 1px;
        @include sm-mobile {
          margin: 2em 0 1em;
        }
        &.cd-label {
          position: relative;
          display: block;
          margin: 2.4em 0 2em;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 1.2rem;
          letter-spacing: 1px;
          @include sm-mobile {
            margin: 0em 0 2.5em;
          }
          &:before {
            content: '';
            position: absolute;
            left: 50%;
            right: auto;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: -16px;
            height: 1px;
            width: 40px;
            background-color: currentColor;
          }
        }
        a {
          font-size: 3rem !important;
          display: inline-block;
          padding: .4em 1em;
          border-radius: 4px;
          -webkit-transition: background 0.2s;
          -moz-transition: background 0.2s;
          transition: background 0.2s;
          color: #FFFFFF;
          font-size: 2.4rem;
          font-weight: 700;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          @include sm-mobile {
            padding: 0;
            font-size: 1.2rem !important;
          }
        }
      }
    }
    .no-touch a:hover {
      background-color: #303e40;
    }
    &.nav-open {
      -moz-pointer-events: auto;
      -webkit-pointer-events: auto;
      -ms-pointer-events: auto;
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
    }
    &.nav-open ul {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

.region-header .cd-primary-nav ul li {
  @include sm-mobile {
    margin: 1.5em 0 .5em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

body.open-nav {
  overflow: hidden;
  .region-header .cd-primary-nav.nav-open {
    overflow: auto;
  }
}
