


.success-letter{
	padding: 60px 0 0;
	border-top: 1px solid $primary-base;
	@include sm-mobile {
		margin: 0 0 20px;
		padding: 30px 0 0;
	}
	.row{
		text-align: center;
		.title{
			margin-bottom: 50px;
			@include sm-mobile {
				margin-bottom: 20px;
			}
			h2{
				margin: 0 0 15px;
				text-align: center;
				@include sm-mobile {
					font-size: 2.5rem;
					margin-bottom: 15px;
				}
			}
			h3.capitalise{
				text-transform: uppercase;
			}
			.sub{
				font-size: 16px;
				line-height: 1.5;
				a{
					border-bottom: 1px dotted;
					&.tel-icon:before{
						@include fontawesome("\f095");
						padding-right: 5px;
					}
				}
				@include sm-mobile {
					text-align: left;
					line-height: 1.8;
				}
				
			}
		}
		.subscribe{
			margin-top: 70px;
			position: relative;
			@include mobile {
				margin-top: 30px;
			}
			h2{
				@include sm-mobile {
			 	    font-size: 2.5rem;
					text-align: left;
				}
			}
			.h4{
				font-size: 22px;
			    letter-spacing: .055rem;
			    @include sm-mobile {
					font-size: 18px;
					text-align: left;
				}
			}
			.left{
				text-align: right;
				img{width: 100%;}
				@include mobile {
					max-width: 400px;
					position: absolute;
					bottom: 0;
					right: 0;
					z-index: 1;
				}
				@include sm-mobile {display: none;}
			}
			.right{
				text-align: center;
				@include mobile {
					position: relative;
					width: 100%;
					z-index: 2;
				}
				.subscribe-block{
					padding: 1rem 1.25rem 1.45rem;
					border-radius: 3px;
					max-width: 440px;
					@include mobile {
						margin: 0 auto;
					}
					h5{
						margin: 0 0 10px;
						font-weight: normal;
					}
					h3{
						font-size: 20px;
						margin: 12px 0 17px;
						text-transform: uppercase;
					}
					input{
						width: 100%;
						margin-bottom: 8px;
					}
					button{
						padding: .55em 0;
						font-size: 16px;
						height: 55px;
					    width: 100%;

						background: $primary-base;
						border-radius: 0;
						text-transform: uppercase;
						letter-spacing: 4px;
						&:hover{
							background-color: lighten($primary-base, 10%);
						}
					}
					.alert-box{
						margin-top: 10px;
					}
				} 

			}
		}
	}
	.container{
		.letter-blog-block{
			border: 1px solid $primary-base;
			position: relative;
			overflow: hidden;
			background-color: transparent;

		    float: none;
		    display: inline-block;

			&:nth-child(n+4) {
				border-top-width: 0;
				@include mobile {
					border-top-width: 1px;
				}
			}
			&:nth-child(3n+2) {
				border-left-width:0;
				@include mobile {
					border-left-width: 1px;
				}
			}
			&:nth-child(3n+3) {
				border-left-width:0;
				@include mobile {
					border-left-width: 1px;
				}
			}

			@include mobile {
				border-bottom-width: 0;
				&:last-child{
					border-bottom-width: 1px;
				}
			}
			&::after{
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-image: url(../images/blog-block-bg.jpg);
				background-position: center center;
				background-size: 120%;
				opacity: 0;

				transition: all 0.4s ease;
			}
			.border{
			    background: $primary-base;
			    position: absolute;
			    -moz-transition: -moz-transform .5s cubic-bezier(0, 0.275, 0.125, 1),opacity .5s cubic-bezier(0, 0.275, 0.125, 1);
			    -o-transition: -o-transform .5s cubic-bezier(0, 0.275, 0.125, 1),opacity .5s cubic-bezier(0, 0.275, 0.125, 1);
			    -webkit-transition: -webkit-transform .5s cubic-bezier(0, 0.275, 0.125, 1),opacity .5s cubic-bezier(0, 0.275, 0.125, 1);
			    transition: transform .5s cubic-bezier(0, 0.275, 0.125, 1),opacity .5s cubic-bezier(0, 0.275, 0.125, 1);
			} 
			.border.border-right {
			    margin-right: -12px;
			    right: 0;
			    top: 0;
			    height: 100%;
			    width: 12px;
			    -moz-transform: translateX(0);
			    -ms-transform: translateX(0);
			    -webkit-transform: translateX(0);
			    transform: translateX(0)
			}

			.border.border-top {
			    height: 12px;
			    width: 100%;
			    left: 0;
			    top: 0;
			    margin-top: -12px;
			    -moz-transform: translateY(0);
			    -ms-transform: translateY(0);
			    -webkit-transform: translateY(0);
			    transform: translateY(0)
			}

			.border.border-left {
			    margin-left: -12px;
			    left: 0;
			    top: 0;
			    height: 100%;
			    width: 12px;
			    -moz-transform: translateX(0);
			    -ms-transform: translateX(0);
			    -webkit-transform: translateX(0);
			    transform: translateX(0)
			}

			.border.border-bottom {
			    bottom: 0;
			    left: 0;
			    margin-bottom: -12px;
			    height: 12px;
			    width: 100%;
			    -moz-transform: translateY(0);
			    -ms-transform: translateY(0);
			    -webkit-transform: translateY(0);
			    transform: translateY(0)
			}
			article{
				padding: 20px 24px 28px;
				z-index: 2;
				position: relative;
				text-align: left;
				header{
					h4{margin: 0;}
				}
				h3.title{
					line-height: 1.15;
					text-transform: uppercase;
					font-size: 1.5rem;
					margin: 1rem 0;
					
				}
				p.excerpt{margin-bottom: 1.5rem;line-height: 1.4;}
				a.btn{
					height: 45px;
					line-height: 40px;
					background-color: #fff;
					border: 1px solid $primary-base;
					display: block;
					text-align: center;
					font-weight: $font-bold;
					text-transform: uppercase;
					cursor: pointer;

					transition: color 0.3s ease;
					&:hover{
						color:lighten($primary-base, 30%);
					}
				}
			}

			&:hover{
				.border.border-right {
				    -moz-transform: translateX(-10px);
				    -ms-transform: translateX(-10px);
				    -webkit-transform: translateX(-10px);
				    transform: translateX(-10px)
				}

				.border.border-top {
				    -moz-transform: translateY(10px);
				    -ms-transform: translateY(10px);
				    -webkit-transform: translateY(10px);
				    transform: translateY(10px)
				}

				.border.border-left {
				    -moz-transform: translateX(10px);
				    -ms-transform: translateX(10px);
				    -webkit-transform: translateX(10px);
				    transform: translateX(10px)
				}

				.border.border-bottom {
				    -moz-transform: translateY(-10px);
				    -ms-transform: translateY(-10px);
				    -webkit-transform: translateY(-10px);
				    transform: translateY(-10px)
				}
				article{
					color: #fff;
					h3.title a{
						color: #fff;
						transition: all 0.3s ease;
						&:hover{
							color: $secondary-base;
						}
					}
				
				}
				&::after{
					opacity: 1;
				}

			}
			@include mobile {
				width: 100%;
				&:first-child{
					border-right: 1px solid $primary-base;
					border-bottom: none;
				}
				&:last-child{
					border-left: 1px solid $primary-base;
					border-top: none;
				}
			}
		}
	}
}

.blurb-logo.homepage{
	border-width: 1px 0 1px;
	border-style: solid;
	border-color: $primary-base;
	padding: 80px 0;
	@include mobile {
		padding: 40px 0;
	}
	@include sm-mobile {
		padding: 30px 0;
	}
	.container{
		@include mobile {
			padding: 0 15px;
		}
	}
	h3,.h3{
		font-size: 25px;
		@include mobile {
			font-size: 22px;
		}
	}

	h3,.h3{
		margin: 7px 0;
	}
	.left{
		@include mobile {
			width: 100%;
			text-align: center;
			h3,.h3{
				font-size: 1.3rem;
			}
		}
	}
	.right{
		text-align: center;
		@include mobile {
			width: 100%;
		}
		img{
			margin: 0 10px;
			display: inline-block;
			@include mobile {
				margin: 20px 0 0;
				max-width: 160px;
			}
		}
	}
	p{
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 0;
		@include mobile {
			font-size: 16px;
			br{
				display: none;
			}
		}
		a{
			border-bottom: 1px dotted;
			&:focus{
				border-bottom: 1px dotted;
			}
		}

	}
}