.hero.ui{
	position: relative;
	.hero-image-block{
		background-color: #eee;
		background: url($hero-image-src);
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: 10%;
		position: relative;
		.text{
			padding-left: 20px;
			@include mobile {
				padding: 0 5%;
			}
			@include sm-mobile {
			}
			section{
				height: 630px;
				display: table;
				@include sm-mobile {
					height: 400px;
				}
				.table-cell{
					display: table-cell;
					vertical-align: middle;
					padding-bottom: 60px;
					text-align: left;
					@include mobile {
						text-align: center;
					}
					@include sm-mobile {
						padding-bottom: 0;
					}
				}

			}
			h1{
				font-size: 33px;
				line-height: 33px;
				margin-top: 0;
				@include sm-mobile {
					font-size: 28px;
					line-height: 28px;
				}
			}
			h2{
				font-size: 18px;
				margin: 35px 0 0;
				@include sm-mobile {
					margin-top: 15px;
				}
			}
			h3{
				font-size: 18px;
				font-style: italic;
				margin: 35px 0;
				@include sm-mobile {
					margin: 15px 0;
				}
			}
			.cta-block{
				a{
					font-size: 18px;
					height: 55px;
					line-height: 55px;
					padding: 0;
					width: 335px;
					text-align: center;
					@include sm-mobile {
						width: 100%;
					}
				}
				h6{
					font-size: 16px;
					font-style: italic;
					width: 335px;
					text-align: center;

					@include mobile {
						display: block;
						margin: 1rem auto;
					}
					@include sm-mobile {
						width: 100%;
						margin-bottom: 0;
					}
				}
			}
		}

	}
	.hero-menu{
			position: absolute;
			width: 100%;
			height: 60px;
			bottom: 0;
			left: 0;
			z-index: 1;
			background-color: rgba($secondary-base, .75);
			@include sm-mobile {
				height: auto;
				position: relative;
			}
			.container{
				@include sm-mobile {
					padding: 0
				}
			}
			.hero-menu-block{
				padding-left: 0;
				margin: 0;
				li{
					margin: 0;
					height: 60px;
					float: left;
					display: table;
					&.root{
						a{
							font-weight: $font-bold;
						}
					}
					@include mobile {
					    width: 18.88888%;
						text-align: center;
					}
					@include sm-mobile {
						height: auto;
						width: 100%;
					}
					&.active{
						span{
							text-decoration: underline;
							background-color: lighten($secondary-base, .50%);
						}
					}
					span, a{
						display: table-cell;
						vertical-align: middle;
						font-weight: $font-normal;
						padding: 0 20px;
						color: #fff;
						cursor: pointer;
						&:hover{
							background-color: lighten($secondary-base, .50%);
						}
						&.intro{
							cursor: default;
							&:hover{
								background-color: transparent;
							}
						}
						@include mobile {
							padding: 0 15px;

						}
						@include sm-mobile {
							padding: 15px 0;
						}
					}
				}
			}
		}
}
.segment{
	&.deposit-rate{
		margin: 90px 0;
		@include sm-mobile {margin: 40px 0}
		.row{
			text-align: center;

			&.title{
				margin: 0 0 60px;
				@include sm-mobile {
					margin-bottom: 20px;
				}
				h2{
					margin: 0 0 30px;
					@include sm-mobile {
						font-size: 2.5rem;
						margin-bottom: 20px;
					}
				}
				.sub{
					font-size: 16px;
					line-height: 1.5;
					a{
						border-bottom: 1px dotted;
						&.tel-icon:before{
							@include fontawesome("\f095");
							padding-right: 5px;
						}
					}
					@include sm-mobile {
						text-align: left;
						line-height: 1.8;
					}
					
				}
			}
			&.options{
				display: block;
				margin: 0 auto;
				&.documents{
					.list{
						li{
							a{
								&:before{
									@include fontawesome("\f1c1");
									padding-right: 10px;
								}
							}
						}
					}
						
				}
				p.security{
					display: block;
					max-width: 680px;
					line-height: 2;
					margin: 0 auto;
					font-size: 16px;
				}
				.promo-block{
					padding: 40px 0;
					width: 315px;
					display: inline-block;
					background-color: $primary-base;
					@include sm-desktop {
						margin: 0 0 30px;
						margin-left: 30px;
						margin-right: 30px;
					}
					@include mobile {
						margin: 15px ;
					}
					@include sm-mobile {
						width: auto;
						display: block;
						padding: 20px;
						margin: 0 0 10px;
					}
					&.margin-l2{
						margin-left: 70px;
						@include sm-desktop {
							margin: 0;
						}
						@include sm-mobile {
							margin: 0 0 10px;
						}
					}
					&.margin-r2{
						margin-right: 70px;
						@include sm-desktop {
							margin: 0;
						}
						@include sm-mobile {
							margin: 0 0 10px;
						}
					}
					h2.header{
						font-weight: $font-extra;
						margin: 0 0 20px;
						color: #fff;
					    line-height: 1;
						@include sm-mobile {
							margin-bottom: 10px;
						}
					}
					.months{
						font-size: 20px;
						font-weight: $font-light;
						color: #fff;
						margin-bottom: 15px;
						@include sm-mobile {
							margin-bottom: 10px;
						}
					}
					.amount{
						font-size: 20px;
						font-style: italic;
						color: #fff;
						margin-bottom: 28px;
						@include sm-mobile {
							margin-bottom: 10px;
						}
					}
					.button-sec{
						height: 45px;
						line-height: 42px;
						padding: 0;
						width: 180px;
						font-size: 16px;
						@include sm-mobile {
							width: auto;
							display: block;
						}
					}
				}
				.link-logo{
					img{
						width: auto;
					}
				}

			}

			&.footer{
				float: left;
				width: 100%;
				margin: 60px 0 0;
				@include sm-mobile {
					margin-top: 0px;
				}
				h2{
					@include sm-mobile {
				 	    font-size: 2.5rem;
						text-align: center;
					}
				}
				.h4{
					font-size: 22px;
				    letter-spacing: .055rem;
				    @include sm-mobile {
						font-size: 18px;
						text-align: center;
					}
				}
			}
		}
		div[data-tab="term-deposits"]{
			.row{
				&.options{
					p{
						display: none;
					}
					.promo-block{
						&:nth-of-type(2) {
							margin-left: 70px;
							margin-right: 70px;
							@include sm-desktop {
								margin-left: 0;
								margin-right: 0;
							}
						}
						p{
							display: block;
							margin: 0;
						}
					}
				}
			}
		}
	}
	&.call-to-action{
		border-width: 1px 0 1px;
		border-style: solid;
		border-color: $primary-base;
		padding: 80px 0;
		@include sm-mobile {
			padding: 40px 0;
		}
		.container{
			@include mobile {
				padding: 0 15px;
			}
		}
		h3,.h3{
			font-size: 25px;
			@include mobile {
				font-size: 22px;
			}
		}
		&.home{
			h3,.h3{
				margin: 0;
			}
			.right{
				text-align: center;
				img{
					margin: 0 10px;
					display: inline-block;
				}
			}
		}
		p{
			font-size: 20px;
			line-height: 1.5;
			margin-bottom: 0;
			@include mobile {
				font-size: 16px;
				br{
					display: none;
				}
			}
			a{
				border-bottom: 1px dotted;
				&:focus{
					border-bottom: 1px dotted;
				}
			}

		}
	}
}
