.ui.id-verification{
	padding-bottom: 2rem;
	border-bottom: 1px solid $primary-base;
	@include sm-mobile {
		padding-bottom: 2rem;
	}
	.container{
		.row{
			float: left;
			width: 100%;
		}
		div.title{
			text-align: left;
		    margin: 0rem 0 1rem;
		    h1{
		    	font-size: 3rem;
		    	margin-top: 0;
		    	margin-bottom: 0;
				@include sm-mobile {
					font-size: 2.25rem;
				}
		    }
		    h3{
		    	font-size: 28px;
		    	line-height: 1.5;
		    	margin-top: 0;
		    	margin-bottom: 0;
		    	@include mobile {
		    		padding-top: 10px;
		    		line-height: 25px;
		    	}
		    	@include sm-mobile {
		    		font-size: 20px;
		    	}
		    }
		    a{
		    	color: lighten($primary-base, 20%);
		    	border-bottom: 1px dotted;
		    }
		    @include mobile {
		    	margin: 50px 0 30px;
		    }
		    @include sm-mobile {
		    	margin: 20px 0 20px;
	    	}
	    }
	    .verification-form{
			.menu{
				float: left;
				width: 100%;
				.item{
					text-align: center;
					height: 55px;
					line-height: 55px;
					border: 1px solid $primary-base;
					&.active{
						background-color: $primary-base;
						color: #fff;
						font-weight: bold;
					}
					@include mobile {
					}
					@include sm-mobile {
						width: 50%;
						height: 45px;
						line-height: 45px;
						border-width: 1px !important;
					}
				}
			}
			.form{
				.fieldset{
					// border-color: $primary-base;
					.form-cell{
					    margin-top: 0;
    					margin-bottom: 1.5rem;
						@include sm-mobile {
							margin-bottom:1rem;
						}
    					&.no-margin{
    						margin-bottom: 0;
    					}
    					&.name{
    						margin-bottom: .5rem;
    					}
						label{
						    width: 100%;
						    float: left;
						    margin-bottom: 5px;
						}
						h3{
							@include sm-mobile {
								font-size:25px;
								line-height: 1;
								margin-bottom: .5rem;
							}
						}
						input{
							width: 100%;
						    float: left;

						}
						.select-holder{
							width: 100%;
						    float: left;
						}
						.help-inline{
							float: left;
							width: 100%;
						}
						&.col-3of7-g{
							@include sm-mobile {
								width: 98%;
								margin-left: 1%;
								margin-right: 1%;
							}
						}
						&.col-2of7-g{
							@include sm-mobile {
							    width: 48%;
							    margin-left: 1%;
							    margin-right: 1%;
							}
						}
						
					}
				}
			}
			.list{
				padding: 0;
				margin: 0;
				li{
					input{
						&[name="identification"]{
					    	width: 50px;
					    	height: auto;
					    }
					}
					label{
						span{
							margin-left: 20px;
						}
					}
					
				}
			}
			.tab-outter{
				margin: 1.5rem 0 0;
			    float: left;
			    width: 100%;
				@include sm-mobile {
					margin: 1rem 0 0;
				}
				.row{
					float: left;
					width: 100%;
				}
				.tab{
					h5{}
					h6{
						font-size: 1.5rem;
					}
				}
			}

	    }
		.footer{
			margin-top: 30px;
			@include sm-mobile {
				margin-top:10px;
			}
			.container{
				@include sm-mobile {
					padding: 0;
				}
			}
			.button-outter{
				text-align: center;
				.button{
					padding: 0;
					text-align: center;
					height: 55px;
					line-height: 55px;
					min-width: 25rem;
					position: relative;
					background-color: $submit-green-base;
					border: none;
					&:hover{
						background-color: darken($submit-green-base, 5%);
					}
					@include sm-mobile {
						min-width: 100%;
						width: 100%;
					}
					img{
						width: 50px;
						visibility: hidden;
						opacity: 0;
						position: absolute;
						left: 20px;
						top: 0;
						-webkit-transition: box-shadow 0.4s;
						-moz-transition: box-shadow 0.4s;
						transition: box-shadow 0.4s;
						@include sm-mobile {
							left: 10px;
						}

					}
				}
			}
		}
		&.processing{
			.footer .button-outter .button{
				background-color: darken($submit-green-base, 5%);
				img{
					visibility: visible;
					opacity: 1;
					position: absolute;
					left: 20px;
					top: 0;
				}
			}
		}
	}
}
.ui.submitted.verified {
	.container{
		.title{
			margin-bottom:1rem;
			h1{
				margin-bottom:0;
			}
		}
	}
}


