.hero.ui{
	position: relative;
	.term-table-block{
		background-color: $primary-base;
		@include gradientTopBottom($primary-dark, $primary-base);
		color: #fff;
		position: relative;
		.text{
			padding-left: 20px;
			@include mobile {
				padding: 0 5%;
			}
			@include sm-mobile {
			}
			section{
				height: 600px;
				display: table;
				@include sm-mobile {
					height: 450px;
				}
				div{
					vertical-align: top;
				}
				.table-cell{
					display: table-cell;
					vertical-align: middle;
					text-align: left;
					padding-bottom: 60px;
					@include mobile {
						text-align: center;
					}
					@include sm-mobile {
						padding-bottom: 0;
					}
					h1{
						@include mobile { margin: 1rem 0 1rem;}
						@include sm-mobile {
							font-size: 22px;
						}
					}
					.left{
						.table-block{
							padding: 0 2rem 0 0;
							@include sm-mobile {
								padding: 0;
							}
							table{
								text-align: center;
								color: $primary-base;
							    box-shadow: 2px 5px 15px rgba(0,0,0,.4);
								h3{
									font-size: 20px;
									@include sm-mobile {
										margin: 0;
										font-size: 18px;
									}
								}
								th{
									@include sm-mobile {padding: 10px 0;}
								}
								tr.header{
									td{
										// background-color: rgba(34, 36, 38, 0.7);
										background-color: lighten(#000072, 10%);
										color: #fff;
										font-size: 15px;

									}

								}
								td{
									width: 50%;
									font-size: 14px;
									small{
									    display: block;
    									padding: 4px 0;
									}
								}
							}
						}
					}
					.right{
						article{
							padding: 0 2rem;
							@include sm-mobile {
								padding: 0 0 2rem;
							}
							.h4{
								font-size: 1.25rem;
								font-weight: $font-normal;
								line-height: 1.5;
								@include sm-mobile {
									margin-bottom: 0;
									font-size: 16px;
								}
							}
							.cta-block{
								margin-top: 2rem;
							    margin-bottom: 2rem;
								@include sm-mobile {
									margin-top: 1rem;
									margin-bottom: 1rem;
								}
							}
						}
					}
					.left, .right{
						@include mobile {
							width: 100%;
						}
					}
				}

			}
			h1{
				font-size: 2rem;
				line-height: 2.5rem;
				margin: 0 0 2.5rem;
				text-align: center;
				@include sm-mobile {
					font-size: 28px;
					line-height: 28px;
				}
			}
			h2{
				font-size: 18px;
				margin: 35px 0 0;
				@include sm-mobile {
					margin-top: 15px;
				}
			}
			h3{
				font-size: 18px;
				font-style: italic;
				margin:  0;
				@include sm-mobile {
					margin: 15px 0;
				}
			}
			.cta-block{
				a{
					font-size: 18px;
					height: 55px;
					line-height: 55px;
					padding: 0;
					width: 335px;
					text-align: center;
					@include sm-mobile {
						width: 100%;
					}
				}
				h6{
					font-size: 16px;
					font-style: italic;
					width: 335px;
					text-align: center;

					@include mobile {
						display: block;
						margin: 1rem auto;
					}
					@include sm-mobile {
						width: 100%;
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.hero-menu.no-bg{
		background-color: #e4ac00;
		.hero-menu-block li.active span{
			background-color: #ffbd00;
		}
		.hero-menu-block li{
			&:first-child{
				span:hover{
					background-color: transparent;
				}
			}
		}
		.hero-menu-block li span{
		    -webkit-transition: background .5s ease, color .5s ease, box-shadow .5s ease, border .5s ease;
			transition: background .5s ease, color .5s ease, box-shadow .5s ease, border .5s ease;
			@include mobile {
				font-size: 15px;
			}

			&:hover{
				background-color: #ffbd00;
			}
		}
	}
}

.how-to-invest{
	padding: 90px 0 60px;
	border-bottom: 1px solid $primary-base;
	@include mobile {padding: 40px 0 50px;}
	@include sm-mobile {padding: 30px 0 30px;}
	.row{
		text-align: center;
		width: 100%;
		float: left;
		&.title{
			margin: 0 0 60px;
			@include mobile {margin: 0 0 30px;}
			@include sm-mobile {
				margin-bottom: 20px;
			}
			h2{
				margin: 0 0 10px;
				@include sm-mobile {
					font-size: 2.5rem;
					margin-bottom: 20px;
				}
			}
			.sub{
				font-size: 16px;
				line-height: 1.5;
				a{
					border-bottom: 1px dotted;
					&.tel-icon:before{
						@include fontawesome("\f095");
						padding-right: 5px;
					}
				}
				@include sm-mobile {
					text-align: left;
					line-height: 1.8;
				}
				
			}
		}

		&.options{
			display: block;
			margin: 0 auto;
			.step-circle{
				height: 220px;
				position: relative;
				@include mobile {
					width: 48%;
					margin: 1%;
					height: 100px;
				}
				@include sm-mobile {
					width: 100%;
					height: 80px;
					margin: 0;
				}
				&:hover{
					cursor: default;
					&:after{
						right: -45px;
					}
					article:after{
						opacity: 1;
					}
				}
				&:after{
					@include fontawesome("\f178");
					z-index: 0;
					color: $primary-base;
					right: -40px;
					top: 50%;
					transform: translateY(-50%);
					position: absolute;
					font-size: 10rem;
					transition: right .2s linear;
					@include mobile {display: none;}
				}
				&:last-child{
					&:after{
						display: none;
					}
					@include sm-mobile {
						article{
							border-bottom-width: 2px;
						}
					}
				}
				article{
					display: table;
					width: 220px;
					height: 220px;
					padding: 40px 20px;
					top: 0;
					left: 50%;
					text-align: center;
					margin-left: -110px;
					position: absolute;
					// background-color: $primary-base;
					border: 2px solid $primary-base;
					background-color: #fff;
					color: $primary-base;
					border-radius: 150px;
					z-index: 2;
					&:after{
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						border: 10px solid $primary-base;
						border-radius: 300px;
						left: 0;
						top: 0;
						opacity: 0;
						transition: opacity .2s linear;
						@include mobile {
							border-radius: 0;
						}
						@include sm-mobile {
							border-width: 5px;
						}
					}
					@include mobile {
						margin-left: 0;
						left:0;
						width: 100%;
						height: 100px;
						padding: 0;
						border-radius: 0;
					}
					@include sm-mobile {
						height: 80px;
						border-bottom-width: 0;
					}
				}
				.table-cell{
					display: table-cell;
					width: 100%;
					vertical-align: middle;
					text-align: center;
				}
				&.margin-l2{
					margin-left: 70px;
					@include sm-mobile {
						margin: 0
					}
				}
				h2.header{
					font-size: 1.3rem;
					font-weight: $font-extra;
				    line-height: 1;
				    text-transform: uppercase;
				    margin: 0 0 10px;
					@include mobile {
						margin: 0 0 5px;
						font-size: 20px;
					}
				}
				.decr{
					font-size: 25px;
					@include mobile {
						font-size: 20px;
					}
					@include sm-mobile {
						font-size: 18px;
					}
				}
			}
			
			.faq-lists{
				text-align: left;
				article{
					padding-bottom: 1.5rem;
					line-height: 1.5;
					h4{
						font-weight: bold;
					}
				}
			}

			&.documents{
				.list{
					li{
						a{
							&:before{
								@include fontawesome("\f1c1");
								padding-right: 10px;
							}
						}
					}
				}
					
			}
			p.security{
				display: block;
				max-width: 680px;
				line-height: 2;
				margin: 0 auto;
				font-size: 16px;
			}
			.promo-block{
				padding: 40px 0;
				width: 315px;
				display: inline-block;
				background-color: $primary-base;
				@include mobile {
					margin: 15px 0 ;
				}
				@include sm-mobile {
					width: auto;
					display: block;
					padding: 20px;
					
				}
				&.margin-l2{
					margin-left: 70px;
					@include sm-mobile {
						margin: 0
					}
				}
				&.margin-r2{
					margin-right: 70px;
					@include sm-mobile {
						margin: 0
					}
				}
				h2.header{
					font-weight: $font-extra;
					margin: 0 0 20px;
					color: #fff;
				    line-height: 1;
					@include sm-mobile {
						margin-bottom: 10px;
					}
				}
				.months{
					font-size: 20px;
					font-weight: $font-light;
					color: #fff;
					margin-bottom: 15px;
					@include sm-mobile {
						margin-bottom: 10px;
					}
				}
				.amount{
					font-size: 20px;
					font-style: italic;
					color: #fff;
					margin-bottom: 28px;
					@include sm-mobile {
						margin-bottom: 10px;
					}
				}
				.button-sec{
					height: 45px;
					line-height: 42px;
					padding: 0;
					width: 180px;
					font-size: 16px;
					@include sm-mobile {
						width: auto;
						display: block;
					}
				}
			}
			.link-logo{
				img{
					width: auto;
				}
			}

		}

		&.call-to-action{
			margin: 55px 0 0;
			text-align: center;
			@include mobile {
				margin: 30px 0 0;
			}
			.btn{
				color: #fff;
				font-size: 20px;
				min-width: 400px;
				background-color: $primary-base;
				height: 55px;
				border-radius: 100px;
				line-height: 55px;
				margin: 0 auto;
				display: inline-block;
				&:hover{
					background-color: $secondary-base;
				}
				@include mobile {
					width:100%;
					min-width: 0;
					float: left;
				}
			}
		}
	}
}
.subscribe-success-letter{
	padding: 80px 0 0;
	@include sm-desktop {
		padding: 2rem 0 0;
	}
	.left{
		min-height: 310px;
		position: relative;
		img{
			position: absolute;
			bottom: 0;
			left: 0;
			@include mobile {
				width: 100%;
			}
		}
		@include sm-desktop {
			width: 80%;
			margin: 0 10%;
			min-height: 0;
			text-align: center;
			img{
				position: relative;
				display: inline-block;
				width: 100%;
			}
		}
		@include sm-mobile {
			width: 100%;
			margin: 0;
		}
	}
	.right{
		text-align: center;
		@include sm-desktop {
			width: 80%;
			margin: 0 10% 2rem;
		}
		@include sm-mobile {
			width: 100%;
			margin: 0 0 2rem;
		}
		.subscribe-block{
			padding: 1rem 1.25rem 1.45rem;
			background: $primary-base;
			border-radius: 3px;
			color: #fff;

			h5{
				margin: 0 0 10px;
			}
			h3{
				font-size: 20px;
				margin: 12px 0 17px;	
			}
			input{
				width: 100%;
				margin-bottom: 8px;
			}
			button{
				padding: .55em 0;
				font-size: 16px;
				height: 45px;
			    width: 100%;

				background: $secondary-base;
				border-radius: 0;
				text-transform: uppercase;
				letter-spacing: 2px;
				&:hover{
					background: darken($secondary-base, 5%) ;
				}
			}
		}
	}
	.row.footer{
		background-image: url(../images/success-letter-image-bg.jpg);
	    background-repeat-x: repeat;
	    margin: 0;
	    @include sm-desktop {
	    	background-size: auto 100%;
	    }
	    @include mobile {
	    	display: none;
	    }
	    .container{
	    	text-align: left;
	    	img{
	    		width: auto;
	    		@include sm-desktop {
	    			width: 80%;
	    			margin: 0 10%;
	    		}
	    	}
	    }
	}
}