.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  visibility: hidden;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal-dialog {
  margin: .55555rem auto;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .15s ease-out;
       -o-transition:      -o-transform .15s ease-out;
          transition:         transform .15s ease-out;
  -webkit-transform: translate(0, -5%);
      -ms-transform: translate(0, -5%);
       -o-transform: translate(0, -5%);
          transform: translate(0, -5%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  &.container{
    max-width: 960px;
  }
}
.modal-open .modal {
  overflow-x: hidden;
  visibility: visible;

  @include modalFadeIn(.35s);
  &.verification{
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 3em 2em;
    position: fixed;
    top: 0;
    width: 100%;
    .container{
      overflow:initial;
      position: relative;
    }
    .close-icon{
      position: absolute;
      top: -15px;
      right: -15px;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      &:hover{
        opacity: .8;
      }
    }
    .modal-body{
      padding:10px 20px 0;
      text-align: center;
      .h3{
        font-size: 20px;
        font-weight: $font-normal;
      }
    }
    .modal-footer{
      border-top:none;
      padding-bottom:1.5rem;
      .btn{
        width:90%;
        height: 40px;
        &:hover{
          background-color: darken($primary-base, 10%);
        }
      }
    }
  }
  &.in{
    opacity: 1;
    form{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
  }
}
.modal-dialog {
  position: relative;
  width: auto;
  // margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  overflow: hidden;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  .btn-continue{
    display: none;
  }
  &.continue {
    .modal-body .button {
      display: none;
    }
    .btn-cancel{
      display: none;
    }
    .btn-continue{
      display: inline-block;
    }
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
}
.modal-backdrop.fade.in {
  filter: alpha(opacity=50);
  opacity: .8;
  visibility: visible;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  display: none;

}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px 20px 0;
  float: left;
  width: 100%;
  @include mobile {
    padding: 20px 15px 0;
  }
  @include sm-mobile {
    overflow: auto;
    height: 75vh;
    padding: 15px 15px 0;
  }
  .title{
    text-align: center;
    line-height: 1.25;
    margin: 0 0 1rem;
    font-size: 25px;
    @include mobile {
      margin-bottom: 1rem;
    }
    @include sm-mobile {
      font-size: 1.5rem;
    }
  }
  .row{
    float: left;
    width: 100%;
    padding-bottom: 1.255rem;
    @include sm-mobile {
      padding-bottom: 1rem;
    }
    .container.error{
      padding: 3px 2px;
    }
    .help-inline{
      text-align: left;
      font-size: 13px;
      padding: 2px 5px;
    }
    &.interest-pay{
      .note{
          margin-top: 5px;
          font-size: 13px;
        }
      .button{
        margin-right: 2rem;
        font-size: 18px;
        font-weight: $font-normal;
        height: 45px;
        line-height: 45px;
        padding: 0;
        padding-left: 5rem;
        padding-right: 5rem;
        position: relative;
        &:last-child{
          margin-right: 0;
        }
        @include mobile {
          width: 48.55555%;
          margin: 0 0.5% 0 ;
        }
        @include sm-mobile {
          width: 100%;
          padding: 0;
          margin: 0 0 5px ;
          text-align: center;
        }
        input{
          visibility: hidden;
          position: absolute;
          right:0;
          bottom:0;
        }
        svg{
          opacity: 0;
          visibility: hidden;
          position: absolute;
            top: 10%;
            left: 10px;
        }
        &.selected{
          background-color: $secondary-base;
          svg{  
            opacity: 1;
            visibility: visible;
            width: 30px;
            .path{
              stroke:#fff;
              } 
          }
        }
      }
    }
    &.range-invest{
      overflow: initial;
      .range-slider{
        margin-bottom: 15px;
      }
      .rangeslider--horizontal{
        margin-bottom: 10px;
        .rangeslider__fill{
          background-color: $primary-base
        }
        &:after{
          // content: 'Enter Amount';
          // width: 100%;
          // font-size: 16px;
          // text-align: center;
          // position: absolute;
          // top: 100%;
        }
      }
      small{
        float: left;
        width: 33.33333333%;
        font-size: 20px;
        font-weight: bold;
        @include sm-mobile {
          font-size: 16px;
          width: 21%;
        }
        &.min{
          text-align: left;
        }
        &.max{
          text-align: right;
        }
        &:before{
          content: '$'
        }
      }
      .change-number{
        width: 33.33333333%;
        float: left;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        height: 40px;
        color: $primary-base;
        padding: 0;
        -webkit-transition: box-shadow 0.4s;
        -moz-transition: box-shadow 0.4s;
        transition: box-shadow 0.4s;
        &:before{
          content: '$';
        }
        &:focus{
          box-shadow: 0 0 10px rgba($primary-base, .5);
        }
        @include sm-mobile {
          font-size: 22px;
          height: 35px;
          width: 48%;
        }
      }
    }
    &.rate-term{
      text-align: center;
      .block-outter{
        background: transparent;
        @include mobile {
          text-align: left;
        }
      }
      p{
        text-align: left;
        margin: 5px 0 0;
      }
      .chip{
        width: 19.5555%;
        margin: 0 0.2%;
        padding: 10px 0;
        position: relative;
        display: inline-block;
        background-color: $primary-base;
        cursor: pointer;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        vertical-align: top;
        min-height: 125px;
        letter-spacing: -0.1px;
        &.selected{
          background-color: $secondary-base;
          &:hover{
            background-color: $secondary-base;

          }
          .selected-overlay{
              opacity: 1;
              visibility: visible;
          }
        }
        &:hover{
          background-color: lighten($primary-base, 10%);
        }
        @include lg-desktop {
          min-height: 0;
        }
        @include mobile {
          width: 48.55555%;
          margin: 0 5px 5px ;
          text-align: center;
          min-height: 0;
        }
        @include sm-mobile {
          width: auto;
          display: block;
          padding: 8px 0 8px;
        }
        h2.header{
          font-weight: $font-extra;
          font-size: 45px;
          margin: 0;
          color: #fff;
          line-height: 1;
          @include sm-mobile {
            margin-bottom: 0;
            font-size: 35px;
          }
        }
        .months{
          font-size: 20px;
          font-weight: $font-light;
          color: #fff;
          margin: 5px 0;
          @include sm-mobile {
            margin: 2px 0;
            font-size: 18px;
          }
        }
        .interest{
          font-style: italic;
          color: #fff;
          font-size: 12.6px;
          line-height: 1.3;
          display: block;
          @include sm-mobile {
            margin-bottom: 0;
          }
        }
        .selected-overlay{
          background-color: rgba($secondary-base, .7);
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left:0;
            opacity: 0;
            visibility: hidden;
            -moz-transition: opacity .2s;
            -o-transition: opacity  2s;
            -webkit-transition: opacity .2s;
            transition: opacity .2s;
            .h2{
              color: #fff;
              font-style: italic;
              font-weight: $font-bold;
            }
        }
        input{
          visibility: hidden;
          position: absolute;
          left: 0;
          bottom: 0;
        }
        svg{
            position: absolute;
            width: 33px;
            height: 33px;
            bottom: 3px;
            left: 3px;
            @include mobile {
              width: 45px;
              height: 45px;
            }
            .path{
            stroke:#fff;
            }
            
        }
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &.previously-invested{
    float: left;
    width: 100%;
    margin-bottom: 1rem;
    .row{
      float: left;
      padding: 0 10px;
      margin-top: 10px;
      width: 100%;
      &.error{
        padding-bottom: 15px;
        margin-top: 1rem;
      }
      label{
        padding-top: 0;
        font-size: 16px;
        display: block;
        div{
          display: block;
          font-weight: $font-bold;
          font-size: 18px;
        }
        small{
          display: block;
          padding-top: 5px;
        }
      }

      input{
        width: 100%;
      }
      .button{
          padding: 0;
          margin-bottom: 10px;
          text-align: center;
          height: 50px;
          position: relative;
          background-color: $submit-green-base;
          border: none;
          &:hover{
            background-color: darken($submit-green-base, 5%);
          }
          @include sm-mobile {
            min-width: 100%;
          }
          img{
            width: 50px;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            left: 20px;
            top: 0;
              -webkit-transition: box-shadow 0.4s;
            -moz-transition: box-shadow 0.4s;
            transition: box-shadow 0.4s;
            @include sm-mobile {
              left: 10px;
            }
          }
          &.single-btn{
            min-width: 100%;
          }
      }
      &.processing{
        .button{
          background-color: darken($submit-green-base, 5%);
          img{
            visibility: visible;
            opacity: 1;
            position: absolute;
            left: 20px;
            top: 0;
          }
        }
        .form-cell{
          margin-bottom: 0;
        }
        .help-inline{
          float: left;
          width: 100%;
        }
      }
      .lookup-result-text {
        text-align: center;
        padding: 10px 0;
        &.error{
          background-color: #FFF6F6;
        }
      }
    }
  }
}
.modal-footer {
  padding: 5px 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  position: relative;
  float: left;
  width: 100%;
  .btn {
    width: 48.555555%;
    font-size: 1.15555rem;
    letter-spacing: 1px;
    padding: 8px 0;
    text-transform: uppercase;
    font-weight: $font-normal;
    @include mobile {
    }
    @include sm-mobile {
      text-align: center;
      font-size: 16px;
    }
    &.single-btn{
      width: 98%;
    }
  }

}



.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 1.55555rem auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    // width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

a.terms{
  cursor: pointer;
}
.modal.terms {
  width: 60%;
  margin: auto;
  @include mobile {
    width: 80%;
  }
  @include sm-mobile {
    width: 96%;
  }
  .modal-content{
    .modal-body
    {
      overflow: auto;
      height: 75vh;
      .c_footer{
        display: none;
      }
      h1{
        font-size: 35px;
      }
    }
    .modal-footer{
      button{
        width: 98%;
        @include sm-mobile {
          width: 96%;
        }
      }
    }
  }

}

.process-overlay{
    -webkit-transition: -webkit-transform 0.45s ease, opacity 0.45s ease, visibility 0.45s;
    -webkit-transition: opacity 0.45s ease, visibility 0.45s, -webkit-transform 0.45s ease;
    transition: opacity 0.45s ease, visibility 0.45s, -webkit-transform 0.45s ease;
    transition: transform 0.45s ease, opacity 0.45s ease, visibility 0.45s;
    transition: transform 0.45s ease, opacity 0.45s ease, visibility 0.45s, -webkit-transform 0.45s ease;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    background: rgba($submit-green-base, 0.95);
    box-shadow: none;
    height: 85px;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 2em 2em;
    position: fixed;
    bottom: 0;
    visibility: hidden;
    width: 100%;
    margin: 0;
    z-index: 10;
    &.in{
      -moz-pointer-events: auto;
      -webkit-pointer-events: auto;
      -ms-pointer-events: auto;
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
    }
    .container{
      text-align:center;
      img{
        width: 90px;
      }
      div{
          color: #fff;
          font-size: 1.5555rem;
      }
    }
}
