.application-1{
	border-bottom: 1px solid $primary-base;
	.ui.table{
		text-align: center;
		font-size: 20px;
		color: $primary-base;
		border-color: $primary-base;
		margin-bottom: 2rem;
		@include mobile {
			margin-bottom: 1rem;
		}
		thead{
			tr{
				th{
					color: #fff;
					background-color: $primary-base;
					padding:15px 0;
				}
			}
		}
		tbody{
			tr{
				td{
					color: $primary-base;
					border-left-color: $primary-base;
					border-color: $primary-base;
					    font-size: 16px;
					a{
						cursor: pointer;
						border-bottom: 1px dotted;	
						&:hover{
							color: $secondary-base;
							border-color: $secondary-base;
						}
						&:first-child{
							margin-right: 10px;	
						}
						&:last-child{
							margin-left: 10px;	
						}
					}
				}
			}
		}

	}
	form{
		float: left;
		width: 100%;
	}
	.row{
		float: left;
		width: 100%;
		margin-bottom: 1.5rem;
		@include mobile {
		    margin-bottom: 1.25rem;
		}
		@include sm-mobile {
			margin-bottom: 1rem;
		}
		label{
			cursor: pointer;
		}
		&.title{
			text-align: center;
		    margin: 1rem 0 2rem;
		    @include mobile {
		    	margin: 50px 0 30px;
		    }
		    @include sm-mobile {
		    	margin: 20px 0 20px;
		    }
		    h2{
		    	font-size: 3rem;
			    margin: 0 0 2rem;
			    @include sm-mobile {
			    	margin: 0 0 1rem;
			    	font-size: 30px;
			    }
		    }
		    h3{
		    	font-size: 22px;
		    	margin-bottom: 0;
		    	@include sm-mobile {
		    		font-size: 22px;
		    		text-align: center;
		    		margin-bottom: 0;
		    	}
		    }

		}	
		h4.title{
			text-align: center;
		    font-size: 2rem;
		    margin-bottom: 1rem;
		    @include mobile {
			    margin:0 0 2rem;
			}
			@include sm-mobile {
				font-size: 1.55rem;
				margin:0 0 .5rem;
			}
		}
		.button-outter{
			text-align: center;
			padding-bottom: 2rem;
			@include sm-mobile {
				padding-bottom: 1rem;
			}
		}
		&.footer{
			margin: 0rem 0 3rem;
			@include mobile {
				margin: 1rem 0 3rem;
			}
			@include sm-mobile {
				margin: 0rem 0 1.5rem;
			}
			.button-outter{
				text-align: center;
				.button,label{
					min-width:  280px;
					margin: 0 10px;
					padding-left: 0;
					padding-right: 0;
					text-align: center;
					position: relative;
					border: none;
					@include sm-mobile{
						height: 42px;
						line-height: 42px;
						padding-top: 0;
						padding-bottom: 0;
					}
					&.yes{
						background-color: $primary-base;
						&:hover{
							background-color: darken($primary-base, 5%);
						}
					}
					&.no{
						background-color: $secondary-base;
						&:hover{
							background-color: darken($secondary-base, 5%);
						}
						svg{
							opacity: 1;
							visibility: visible;
							width: 30px;
							position: absolute;
						    top: 10px;
						    left: 10px;
						    @include sm-mobile{
						    	top: 4px;
						    }
							.path{
								stroke: #fff !important;
								opacity: 1 !important;
								visibility: visible;
								stroke-dasharray : 0 !important;
									stroke-dashoffset : 0 !important;
						    }
						    
						}
					}
					@include mobile {
						min-width: 100%;
						margin-bottom: 10px;
					}
				}
			}
		}
		&.interest-pay{
			.note{
				margin-top: 10px;
			}
			.button{
			    margin: 0 10px;
				font-size: 18px;
				font-weight: $font-normal;
				height: 55px;
				line-height: 55px;
				padding: 0;
				min-width: 280px;
				position: relative;
				@include mobile {
					padding: 0;
					text-align: center;
					width: 100%;
					margin: 0 2% 10px 0;
				}
				@include sm-mobile {
					width: auto;
					display: block;
					margin: 0 0 .5rem;
					height: 42px;
					line-height: 42px;
				}
				input{
					visibility: hidden;
					position: absolute;
					right:0;
					bottom:0;
				}
				svg{
					opacity: 0;
					visibility: hidden;
					position: absolute;
				    top: 10%;
				    left: 10px;
				}
				&.selected{
					background-color: $secondary-base;
					svg{	
						opacity: 1;
						visibility: visible;
						width: 30px;
						.path{
							stroke:#fff;
					    }	
					}
				}
			}
		}
		&.range-invest{
			.container{
			    overflow: initial;
			    h4.title{
			    	@include sm-mobile {
			    		margin-bottom: 1rem;
			    	}
			    }
			    .rangeslider--horizontal{
			    	margin-bottom: 20px;
			    	.rangeslider__fill{
			    		background-color: $primary-base
			    	}
			    	@include sm-mobile {
			    		margin-bottom: 14px;
			    	}
			    	&:after{
			    		content: 'Enter Amount';
					    width: 100%;
					    font-size: 16px;
					    text-align: center;
					    position: absolute;
					    top: 100%;
					    @include sm-mobile {
					    	font-size: 12px;
					    }
			    	}
			    }
			    small{
			    	float: left;
			    	width: 33.33333333%;
			    	font-size: 20px;
				    font-weight: bold;
				    @include sm-mobile {
				    	font-size: 14px;
				    	width: 28%;
				    }
				    &.min{
				    	text-align: left;
				    }
				    &.max{
				    	text-align: right;
				    }
				    &:before{
				    	content: '$'
				    }
			    }
			    .change-number {
			    	width: 33.33333333%;
				    float: left;
				    font-size: 30px;
				    font-weight: bold;
				    text-align: center;
				    color: $primary-base;
				    height: 45px;
				    padding: 0;
				    -webkit-transition: box-shadow 0.4s;
					-moz-transition: box-shadow 0.4s;
					transition: box-shadow 0.4s;
				    &:before{
				    	content: '$'
				    }
				    &:focus{
				    	box-shadow: 0 0 10px rgba($primary-base, .5);
				    }
				    @include sm-mobile {
				    	padding: 0;
				    	height: 35px;
				    	font-size: 20px;
				    	width: 44%;
				    }
				}
				.alert{
					float: left;
					width: 100%;
					text-align: center;
				}
			}
		}
		&.rate-term{
			text-align: center;
			.container.error{
				padding-bottom: 1rem;
			}
			.block-outter{
				background: transparent;
				@include mobile {
					text-align: left;
				}
			}
			p{
				text-align: center;
				@include mobile {
					text-align: left;
				}
			}
			.chip{
			    width: 19.44444%;
   				margin: 0 0.2%;
				padding: 15px 0;
				min-height: 145px;
			    letter-spacing: -0.1px;
				position: relative;
				display: inline-block;
				vertical-align: top;
				background-color: $primary-base;
				cursor: pointer;
				-webkit-transition: all 0.4s;
				-moz-transition: all 0.4s;
				transition: all 0.4s;
				&.selected{
					background-color: $secondary-base;
					&:hover{
						background-color: $secondary-base;

					}
					.selected-overlay{
					    opacity: 1;
					    visibility: visible;
					}
				}
				&:hover{
					background-color: lighten($primary-base, 10%);
				}
				@include desktop-pt {
					// min-height: 170px;
					vertical-align: top;
				}
				@include mobile {
					min-height: 0;
					margin: 0 .5% .5% ;
					width: 48.88888%;
					text-align: center;
				}
				@include sm-mobile {
					width: auto;
					display: block;
					margin: 6px 0;
					padding: 10px 20px;
					
				}
				h2.header{
					font-weight: $font-extra;
					margin: 0 0 5px;
					color: #fff;
				    line-height: 1;
				    @include mobile {
				    	font-size: 45px;
				    	margin-bottom: 0;
				    }
					@include sm-mobile {
						margin-bottom: 0;
						font-size: 40px;
					}
				}
				.months{
					font-size: 20px;
					font-weight: $font-light;
					color: #fff;
					margin-bottom: 5px;
					@include mobile {
						margin-bottom: 0;
					}
				}
				.interest{
					font-style: italic;
					color: #fff;
					font-size: 12.6px;
					@include mobile {
						margin-bottom: 10px;
					}
				}
				.selected-overlay{
					background-color: rgba($secondary-base, .7);
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left:0;
				    opacity: 0;
				    visibility: hidden;
				    -moz-transition: opacity .2s;
				    -o-transition: opacity  2s;
				    -webkit-transition: opacity .2s;
				    transition: opacity .2s;
				    .h2{
				    	color: #fff;
				    	font-style: italic;
				    	font-weight: $font-bold;
				    }
				}
				input{
					visibility: hidden;
					position: absolute;
					top: 0;
					left:0;
					height: auto;
				}
				svg{
				    position: absolute;
				    width: 40px;
				    height: 40px;
				    bottom: 4px;
				    left: 4px;
					@include desktop-pt {
						width: 30px;
				    	height: 30px;
					}
				    @include mobile {
				    	width: 40px;
				    	height: 40px;
				    }
				    .path{
						stroke:#fff;
				    }
				    
				}
			}
		}
	}
}
.application-2{
	padding: 60px 0;
    border-bottom: 1px $primary-base solid;
    @include mobile {
    	padding: 2.5rem 0;
    }
    .row{
    	@include sm-mobile {
	    	margin-bottom: 10px;
	    }
		width: 100%;
		&.invested-before{
			margin-bottom: 2rem;
			@include mobile {
			    margin-bottom: 1.25rem;
			}
			@include sm-mobile {
				margin-bottom: 1rem;
			}
			.error{
				.title{
					margin-top: 1rem;
				}
				.button-outter{
					margin-bottom: 1rem;
				}
			}
		}
		label{
			cursor: pointer;
		}
		&.title{
			text-align: center;
		    margin: 1rem 0 2rem;
		    @include mobile {
		    	margin: 50px 0 30px;
		    }
		    @include sm-mobile {
		    	margin: 20px 0 20px;
		    }
		    h2{
		    	font-size: 3rem;
			    margin: 0 0 2rem;
			    @include sm-mobile {
			    	margin: 0 0 1rem;
			    	font-size: 30px;
			    }
		    }
		    h3{
		    	font-size: 22px;
		    	margin-bottom: 0;
		    	@include sm-mobile {
		    		font-size: 22px;
		    		text-align: center;
		    		margin-bottom: 0;
		    	}
		    }

		}	
		h4.title{
		    font-size: 2rem;
		    margin-top: 0;
		    margin-bottom: 1rem;
		    @include mobile {
			    margin:0 0 2rem;
			}
			@include sm-mobile {
				font-size: 1.55rem;
				margin:0 0 .5rem;
			}
		}
		.button-outter{
			text-align: center;
			.button,label{
				min-width:  280px;
				margin: 0 10px;
				padding-left: 0;
				padding-right: 0;
				padding-top: 11px;
				padding-bottom: 11px;
				text-align: center;
				position: relative;
				border: none;
				@include sm-mobile {
					height: 42px;
					line-height: 42px;
					padding-top: 0;
					padding-bottom: 0;
				}
				svg{
					width: 30px;
					position: absolute;
					    top: 10px;
					    left: 10px;
				}
				&.yes{
					background-color: $primary-base;
					&:hover{
						background-color: darken($primary-base, 5%);
					}
				}
				&.selected{
					background-color: $secondary-base;
					svg{	
						opacity: 1;
						visibility: visible;
						width: 30px;
						.path{
							stroke:#fff;
					    }	
					}
				}
				@include mobile {
					min-width: 100%;
					margin-bottom: 10px;
				}
			}
		}
	}
	.application.row{
		position: relative;
		display: block;
		margin-bottom: 1rem;
		&.maturity-instructions{
			.sub{
				margin-bottom: 0;
			}
		}
		.title{
		    margin-bottom: 1rem;
		    font-weight: $font-bold;
	        @include mobile {
		    	font-size: 2rem;
		    	line-height: 1.2;
		    }
		    @include sm-mobile {
		    	font-size: 1.3666rem;
		    }
		}
		h2.title{
			    font-size: 30px;
			    margin-bottom: .5rem;
		}
		.sub{
			font-size: 16px;
			margin-bottom: 1.5rem;
			line-height: 1.5;
			@include sm-mobile {
				margin-bottom: 5px;
				font-size: 15px;
			}

		}
		a{
			border-bottom: 1px dotted;
		}
		.help-inline{
			margin-top: -1px;
		}
		.menu{
			float: left;
			width: 100%;
			.item{
				text-align: center;
				height: 55px;
				line-height: 55px;
				border: 1px solid $primary-base;
				&.active{
					background-color: $primary-base;
					color: #fff;
					font-weight: bold;
				}
				&:nth-child(odd){
					border-width: 1px 0;
					@include sm-mobile {
						
					}
				}
				&:first-child{
					border-left-width: 1px; 
				}
				@include mobile {
					// font-size: 14px;
					&:nth-child(2){
						padding-top: 12px;
						font-size: 14px;
						line-height: 1;
					}
				}
				@include sm-mobile {
					width: 50%;
					height:50px;
					padding-top: 0px;
					min-height: 50px;
					line-height: 50px;
					font-size: 15px;
					
					border-width: 1px !important;
					&:nth-child(odd){
						border-right-width: 0 !important;
					}
					&:nth-child(2){
						font-size: 13px;
						padding-top: 14px;
						letter-spacing: -0.2px;
					}
				}
			}
		}
		.form{
			float: left;
			width: 100%;
			.fieldset{
				// border-color: $primary-base;
				&.maturity-instructions{
					float: left;
					width: 100%;
					margin-bottom: 1rem;
					.row{
						float: left;
						padding: 0 10px;
						width: 100%;
						&.error{
							padding-bottom: 15px;
				    		margin-top: 1rem;
						}
						label{
							padding-top: 0;
							font-size: 16px;
							div{
								display: block;
								font-weight: $font-bold;
								font-size: 18px;
							}
							small{
								display: block;
								padding-top: 5px;
							}
						}
					}
					.form-cell{
						margin-bottom: 0;
						// margin-left: 0;
						// margin-right: 0;
					}
					.help-inline{
						float: left;
						width: 100%;
					}
				}
				.form-cell{
					
					
					margin-top: 1rem;
					margin-bottom: 1rem;

					@include sm-mobile {
						margin-top: 5px;
						margin-bottom: 8px;
					}
					label{
					    width: 100%;
					    float: left;
					    margin-bottom: 5px;
					    @include sm-mobile {
					    	font-size: 14px;
					    }
					}
					input{
						width: 100%;
					    float: left;

					}
					.select-holder{
						width: 100%;
					    float: left;
					}
					.help-inline{
						float: left;
						width: 100%;
					}
					&.col-1of7-g{
						@include sm-mobile {
							width: 98%;
							margin-left: 1%;
							margin-right: 1%;
						}
					}
					&.col-3of7-g{
						@include sm-mobile {
						    width: 48%;
						    margin-left: 1%;
						    margin-right: 1%;
						}
					}
					
				}
			}
		}
		.list{
			padding: 0;
			margin: 0;
			li{
				input{
					&[name="identification"]{
				    	width: 50px;
				    	height: auto;
				    }
				}
				label{
					span{
						margin-left: 20px;
					}
				}
			}
		}
		.tab-outter{
			margin: 0;
		    float: left;
		    width: 100%;
		    h5{
		    	margin: 1.5rem 0 1rem;
		    }
			.row{
				float: left;
				width: 100%;
			}
			.tab{
				h5{}
				h6{
					font-size: 1.5rem;
				}
			}
		}
	}

	.footer{
		.button-outter{
			text-align: center;
			.button{
				padding: 0;
				text-align: center;
				height: 50px;
				min-width: 30rem;
				position: relative;
				background-color: $submit-green-base;
				border: none;
				&:hover{
					background-color: darken($submit-green-base, 5%);
				}
				@include sm-mobile {
					min-width: 100%;
				}
				img{
					width: 50px;
					visibility: hidden;
					opacity: 0;
					position: absolute;
					left: 20px;
					top: 0;
				    -webkit-transition: box-shadow 0.4s;
					-moz-transition: box-shadow 0.4s;
					transition: box-shadow 0.4s;
					@include sm-mobile {
						left: 10px;
					}

				}
			}
		}
	}
	&.processing{
		.footer .button-outter .button{
			background-color: darken($submit-green-base, 5%);
			img{
				visibility: visible;
				opacity: 1;
				position: absolute;
				left: 20px;
				top: 0;
			}
		}
	}
}
