.ui.submitted{
	padding-bottom: 5rem;
	border-bottom: 1px solid $primary-base;
	@include sm-mobile {
		padding-bottom: 2rem;
	}
	.container{
		.row{
			float: left;
			width: 100%;
		}
		div.title{
			text-align: left;
		    margin: 1rem 0  2rem;
		    h1{
	    	    margin-top: 0;
	    	    font-size: 3rem;
	    	    @include sm-mobile {
					font-size: 2rem;
				}

		    }
		    h3{
		    	font-size: 28px;
		    	line-height: 1.5;
		    	margin-bottom: 0;
		    	@include sm-mobile {
		    		font-size: 22px;
		    		line-height: 1.4;
		    	}
		    }
		    a{
		    	color: lighten($primary-base, 20%);
		    	border-bottom: 1px dotted;
		    }
		    @include mobile {
		    	margin: 50px 0 30px;
		    }
		    @include sm-mobile {
		    	margin: 20px 0 20px;
	    	}
	    }
	    div.payment-guide{
	    	margin-top: 1rem;
	    	float: left;
	    	width: 100%;
	    	h5{
	    		font-size: 28px;
	    		margin-bottom: .5rem;
	    	}
	    	article{
	    		width: 100%;
	    		float: left;
	    		margin: 2rem 0 0;
	    		padding: 1.5rem 1rem 1.5rem;
	    		border: 1px solid $primary-base;
	    		h5{
	    			margin-top: 0;
	    			margin-bottom: 15px;
	    			font-size: 20px;
	    		}
	    		div{
	    			padding-bottom: 10px;
	    			&:last-child{
	    				padding-bottom: 0;
	    			}
	    			&.notice{
	    				margin-top: 10px;
	    				padding-bottom: 0;
	    			}

	    		}
	    		ul{
	    			margin-bottom: 0;
	    			li{
	    				margin-bottom: 0;
	    			}
	    		}
	    	}
	    }
	    div.submitted-form{
	    	@include sm-mobile {
		    	[class*='col-']{
		    		width: 100%;
		    		.empathy{
		    			margin-bottom: 5px;
		    		}
		    	}
		    }
	    	.row.segment {
	    		margin-bottom: 2rem;
	    		@include sm-mobile {
	    			margin-bottom: 1.2rem;
	    		}
	    		.title{
		    		margin-top: 0;
		    		padding-bottom: 10px;
		    	}
		    	h4{
	    			font-size: 28px;
	    			@include sm-mobile {
	    				font-size: 22px;
	    				margin-bottom: 0;
	    			}
	    		}
	    		h5{
	    			font-size: 22px;
	    			border-bottom: $primary-base 1px solid;
	    		}
		    	.detail-block{
		    		line-height: 1.5;
		    		font-size: 16px;
		    		.row{
		    			margin-bottom: 10px;
		    			&.array{
		    				@include sm-mobile {
		    					width: 50%;
			    				font-size: 15px;
			    				letter-spacing: -0.333px;
		    					[class*='col-']{
		    						div{
		    							margin: 0;
		    						}
		    						margin-bottom: 8px;
		    					}
			    			}
		    			}
		    		}
		    		.col-custom-1{
		    			@include sm-mobile {
		    				width: 10%;
		    			}
		    		}
		    		.col-custom-9{
		    			@include sm-mobile {
		    				width: 90%;
		    			}
		    		}
		    		.col-1of2{
		    			@include sm-mobile {
		    				margin-bottom: 15px;
		    				&:last-child{
		    					margin-bottom: 0;
		    				}
		    			}
		    		}
		    		.col-4of12, .col-2of12 {
		    			@include sm-mobile {
		    				margin-bottom: 15px;
		    				&:last-child{
		    					margin-bottom: 0;
		    				}
		    			}
		    		}
		    		.owner-type{
		    			text-transform: capitalize;
		    		}
		    		.icon{
		    			margin-right: 10px;
		    			&:before{
		    				font-size: 22px;
		    			}
		    		}
		    	}
	    	}

	    }
	}
}