.hero.ui{
	position: relative;
	.success-letter-head{
		background-color: $primary-base;
		@include gradientTopBottom($primary-dark, $primary-base);
		color: #fff;
		position: relative;
		.text{
			padding-left: 20px;
			@include mobile {
				padding: 0 5%;
			}
			section{
				height: 350px;
				display: table;
				@include mobile {
					height: 300px;
				}
				@include sm-mobile {
					height: 250px;
				}
				div{
					vertical-align: top;
				}
				.table-cell{
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					@include mobile {
						text-align: center;
					}
					@include sm-mobile {
						text-align: left;
					}
					h1{
						font-size: 45px;
						font-weight: $font-normal;
						@include mobile { margin: 1rem 0 1rem;}
						@include sm-mobile {
							font-size: 30px;
						}
					}
					.sub{
						p{
							font-weight: 300;
							letter-spacing: .5px;
							line-height: 1.6;
							@include sm-mobile {
								line-height: 1.4;
							}
						}
					}
				}

			}
		}

	}
}
.ui{
	.letter-single-head{
		position: relative;	
		.header-text{
			color: #20436a;
			font-family: "Georgia", serif;
			text-transform: uppercase;
			position: absolute;
			left: 0;
			bottom: 20px;
			@include sm-mobile {
				left: 10px;
				bottom: 10px;
			}
			h3{
				font-size: 40px;font-weight: bold;margin: 0;
				@include sm-mobile {
					font-size: 35px;
				}
			}
			h2{
				font-size: 75px;font-weight: bold;margin: 0; line-height: 1;
				@include sm-mobile {
					font-size: 60px;
				}
			}
			h4{
				font-size: 35px;font-weight: bold;margin: 0;
				@include sm-mobile {
					font-size: 30px;
				}
			}
		}
		img{
			width: 360px;
			float: right;
			@include sm-mobile {
				width: 240px;
			}
		}
	}
	.letter-date-issued{
		background-color: #b09252;
		padding: 5px 0;
		span{
			color: #fff;
			font-family: "Georgia", serif;
			font-size: 20px;
			padding: 0;
			@include sm-mobile {
				font-size: 16px;
			}
		}
	}
	.letter-date-title{
		background-color: #20436a;
		padding: 20px 0;
		@include sm-mobile {
			padding: 10px 0;
		}
		h1{
			color: #fff;
			font-family: "Georgia", serif;
			font-size: 55px;
			text-transform: uppercase;
			margin: 5px 0;
			padding: 0;
			@include sm-mobile {
				font-size: 30px;
			}
		}
	}

	.letter-contents{
		// .container.s{overflow: initial;}
		padding: 50px 0 0px;
		@include mobile {
			padding: 30px 0;
		}
		@include sm-mobile {
			padding: 20px 15px;
		}
		.container.s{
			@include sm-mobile {
				padding-right: 15px;
				padding-left: 15px;
			}
		}
		p.author{
			font-family: "Georgia", serif;
			font-style: italic;
		}
		article{
			font-family: "Georgia", serif;
			margin-bottom: 3rem;
			@include sm-mobile {
				margin-bottom: 0;
			}
			h3{
				font-size: 28px;
			    margin: 2rem 0 1rem;
				@include sm-mobile {
					line-height: 1.1;
					font-size: 22px;
					margin-bottom: 8px;
				}
			}
			p{
				line-height: 1.6;
				a{
					border-bottom: 1px dotted;
				}
			}
			figure{
				max-width: 540px;
				display: block;
				margin: 2rem auto 2rem;
				@include mobile {
				    max-width: none;
			        width: 100% !important;
				}
				img{
					width: 100%;
					box-shadow: 1px 2px 4px 2px rgba(0,0,0,.15);
				}
				figcaption{
					font-style: italic;
					font-size: 14px;
					display: block;
					padding: 12px 0 0;
					text-align: center;
				}
			}
			a.button{
				display: block;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 1px;
				background-color: #fff;
				color: $primary-base;
				border: 1px solid $primary-base;
				padding: 0;
				height: 45px;
				line-height: 45px;
				font-size: 16px;
				&:hover{
					color: #fff;
					background-color: $primary-base;
				}
				@include sm-mobile {
					height: 40px;
					line-height: 40px;
				}
			}
				
		}

	}
	&.success-letter.you-might-also-like {
		border-top: none;
		padding-top: 0;
		padding-bottom: 60px;
	}
}
blockquote {
    font-size: 1.45rem;
    font-style: italic;
    color: $primary-base;
    border-left: 4px solid $primary-base;
    margin: 1.5em 10px 1.5em 0;
    line-height: 1.5;
    padding: 1em 1.5rem 0;
    quotes: "\201C"
    "\201D"
    "\2018"
    "\2019";
}
blockquote:before { 
	color: $primary-base;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em; 
}
.letter-lists.ui{
	margin: 3rem 0;
	@include sm-mobile {
		margin: 1rem 0;
	}
	article{
		margin-bottom: 3rem;
		@include sm-mobile {
		}
		h3{
			font-size: 28px;
			margin-bottom: 5px;
			@include sm-mobile {
				line-height: 1.1;
				font-size: 22px;
				margin-bottom: 8px;
			}
		}
		p{
			line-height: 1.6;
			a{
				border-bottom: 1px dotted;
			}
		}
		img{
			width: 100%;
		}
		a.button{
			display: block;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 1px;
			background-color: #fff;
			color: $primary-base;
			border: 1px solid $primary-base;
			padding: 0;
			height: 45px;
			line-height: 45px;
			font-size: 16px;
			&:hover{
				color: #fff;
				background-color: $primary-base;
			}
			@include sm-mobile {
				height: 40px;
				line-height: 40px;
			}
		}
			
	}
}
