.help-inline {
    background-color: #FFF6F6;
    color: $error-base;
    border: 1px solid $error-border-color;
    padding: .2rem 1rem;
    margin-top: -1px;
    font-style: italic;
    font-size: .9rem;
    text-align: center;
    // &:before{
    // 	@include fontawesome("\f12a");
    // }
    @include mobile {
        padding: 6px 0;
        font-size: 14px;
    }
    @include mobile {
        padding: 4px 0;
        font-style: initial;
        font-size: 12px;
    }
}
.error {
    // background-color: #FFF6F6;
    color: #9F3A38;
    border-width: 1px;
    border-style: solid;
    border-color: $error-border-color;
    border-top-color: $error-border-color;
    border-left-color:  $error-border-color;
    border-right-color: $error-border-color;

}
.list .error {
    // background-color: #FFF6F6;
    color: #9F3A38;
    border-width: 1px;
    border-style: solid;
    border-color: $error-border-color;
    border-top-color: $error-border-color;
    border-left-color:  $error-border-color;
    border-right-color: $error-border-color;
    padding: 1rem;
    &:last-of-type {
	    border-bottom: 1px solid $error-border-color;
	}

}
.select-holder.error{
	padding-bottom: 0;
	select{
		color: $error-base;
	}
}

$success-color: #56ad6a;
$success-color-bg: #ecfef0;

.success {
    color: $submit-green-base;
    background-color: $success-color-bg;
    border: 1px solid $submit-green-base;
}

div.wpcf7-validation-errors {
    display: none;
}

.parsley-success {
  border: 1px solid $submit-green-base;
}

.parsley-error {
  border: 1px solid  lighten($error-base, 45%);
}

.parsley-error .checkbox:after{border: 1px solid  lighten($error-base, 45%);}
.parsley-error .select-holder{border: 1px solid  lighten($error-base, 45%)}

.parsley-errors-list {
    font-size: 0.9em;
    line-height: 0.9em;
    list-style-type: none;
    margin: 2px 0 3px;
    opacity: 0;
    padding: 0;
    transition: all 0.3s ease 0s;
}

.parsley-errors-list.filled {
    opacity: 1;
    margin: 0 0 -4px 0;
    position: relative;
    display: block;
    width:100%;
    background: lighten($error-base, 52%);
    color: $error-base;
    padding: 6px 2px 0px;
    font-size: 13px;
    text-align: left;
    display: block;
    border-radius: 0 0 4px 4px;
    li {
        display: block;
    }
}
.form-row.parsley-error{margin-bottom:0;}



.parsley-error input[type=radio].radio-btn:required+label,.parsley-error input[type=checkbox].radio-btn:required+label {
  border:3px solid $error-base;

}
