$font: 'Lato', sans-serif;
$cn-font: sans-serif;
$font-light: 300;
$font-normal: 400;
// $font-semi: 600;
$font-bold: 700;
$font-extra: 900;
$font-size: 14px;

$hero-image-src: '../images/hero-slide-image-istock.jpg';
$home-image-src: '../images/padlock-166882_1920.jpg';

$size-p1: 1%;
$size-p2: $size-p1 * 2;
$size-p3: $size-p1 * 3;

$size-r1: 1rem;
$size-r2: $size-r1 * 2;
$size-r3: $size-r1 * 3;
$size-r4: $size-r1 * 4;

$size-h1: 3rem;
$size-h2: 50px;
$size-h3: 30px;
// $size-h4: 60px;
// $size-h5: 60px;
$primary-btn-text-size: 25px;

$anz-font-size: 100%;
$anz-size-h1: 3rem;
$anz-size-h2: 2rem;
$anz-size-h3: 1.5rem;
$anz-size-h4: 1.25rem;
$anz-size-h5: 1rem;
$anz-size-h6: .85em;

$header-nav-size: 18px;

$container-size: 1170px;

$radius-base: 3px;
$border-base: 1px;

$primary-base: #000072; //blue
$secondary-base: #e7ab00; //yellow
$submit-green-base: #00911C; //green
$tertiary-base: #0570bd;
$alert-base: #ff3939;
$black-base: #222;
$white-base: #f5f5f5;
$grey-base: #bbb;
$error-base: #9F3A38;
$error-border-color: #E0B4B4;;
$primary-light: lighten( $primary-base, 10%);
$primary-dark: darken( $primary-base, 10%);

$secondary-light: lighten( $secondary-base, 10%);
$secondary-dark: darken( $secondary-base, 10%);

$tertiary-light: lighten( $tertiary-base, 10%);
$tertiary-dark: darken( $tertiary-base, 10%);

$black-light: lighten( $black-base, 10%);
$black-dark: darken( $black-base, 10%);

$white-light: lighten( $white-base, 10%);
$white-dark: darken( $white-base, 10%);

$alert-light: lighten( $alert-base, 10%);
$alert-dark: darken( $alert-base, 15%);

$grey-light: lighten( $grey-base, 5%);
$grey-dark: darken( $grey-base, 5%);

$background-color: $white-light;
$link-color: $primary-base;
$link-color-hover: $primary-light;

$card-width: 20rem;
$card-height: 28rem;
$card-img-height: 20rem;

$carousel-width: 500px;
$carousel-height: 500px;

$modal-width: 50%;
$thumb-width: 5rem;

// mobile variables

$mobile-pt:479px;
$phablet-pt:481px;
$tablet-pt:768px;
$desktop-pt:992px;
$lg-desktop-pt:1200px;

$max-width:100%;

$sm-mobile: new-breakpoint(max-width 360px);
$mobile: new-breakpoint(max-width 479px);
$phablet: new-breakpoint(min-width 481px);
$lg-phablet: new-breakpoint(min-width 600px);
$tablet: new-breakpoint(min-width 768px);
$lg-tablet: new-breakpoint(min-width 992px);
$desktop: new-breakpoint(min-width 1200px);
$lg-desktop: new-breakpoint(min-width 1440px);

$mobile: 770px;
$sm-mobile: 480px;
$sm-desktop: 992px;

$checkbox-tick-icon: "\f00c";
$icon-tick-thick: "\f00c";
$icon-tick: "\f00c";

@mixin desktop-pt {
  @media screen and (max-width: #{$desktop-pt:}) {
    @content;
  }
}
@mixin lg-desktop {
  @media screen and (min-width: #{$lg-desktop:}) {
    @content;
  }
}
@mixin sm-desktop {
  @media screen and (max-width: #{$sm-desktop}) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}
@mixin sm-mobile {
  @media screen and (max-width: #{$sm-mobile}) {
    @content;
  }
}


@mixin fei-animate($ani-trigger, $ani-duration) {
	-webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: $ani-duration;
    animation-duration: $ani-duration;
    -webkit-transition: $ani-trigger $ani-duration linear;
    transition: $ani-trigger $ani-duration linear;
}