<div>
                  <!-- Tab Content !-->

                  <div class="form">
                      <div class="fieldset">

                          <div class="form-cell col-1of1-g name">
                              <label>Name</label> 
                               <!--<h3 class="result">{{result.contactDetails.firstName}}  {{result.contactDetails.surname}}</h3> -->
                              <h3 class="result">Michael Jones</h3>
                          </div>

                          <div class="row personal-details">
                              <div class="form-cell no-margin col-1of1-g">
                                <label>Date of Birth</label>
                              </div>
                              <div class="form-cell col-1of1">
                                <!--<input type="date" name="dataOfBirth" ng-model='identificationDetails.dataOfBirth'  placeholder="yyyy-MM-dd" min="1900-01-01" max="2200-12-31" 
                                ng-class="{'error' : form.$submitted && form.dataOfBirth.$invalid}" required />
                                <div class="help-inline" ng-show="form.$submitted && form.dataOfBirth.$invalid">This Field is Invalid</div>
                                -->
                                <div class="cell-col col-2of7-g">
                                    <div class="select-holder" ng-class="{'error' : form.$submitted && form.month.$invalid }">
                                        <select name="month"  ng-model='identificationDetails.dataOfBirth.month' ng-options="item for item in getMonths" required>
                                            <option value="">Month*</option>
                                        </select>
                                    </div>
                                    <div class="help-inline" ng-show="form.$submitted && form.month.$invalid">This Field is Required</div>
                                </div>
                                <div class="cell-col col-2of7-g">
                                    <div class="select-holder" ng-class="{'error' : form.$submitted && form.day.$invalid }">
                                        <select name="day"  ng-model='identificationDetails.dataOfBirth.day' ng-options="item for item in getDays" required>
                                            <option value="">Day*</option>
                                        </select>
                                    </div>
                                    <div class="help-inline" ng-show="form.$submitted && form.day.$invalid">This Field is Required</div>
                                </div>
                                <div class="cell-col col-3of7-g">
                                    <div class="select-holder" ng-class="{'error' : form.$submitted && form.year.$invalid }">
                                        <select name="year"  ng-model='identificationDetails.dataOfBirth.year' ng-options="item for item in getYears" required>
                                            <option value="">Year*</option>
                                        </select>
                                    </div>
                                    <div class="help-inline" ng-show="form.$submitted && form.year.$invalid">This Field is Required</div>
                                </div>
                                
                              </div>
                          </div>

                          <div class="form-cell col-1of1-g drivers-license-number" ng-show="selectedId == 'driverLicense'">
                              <label>NZ Drivers Licence Number (5a)*</label>
                              <input type="text" name="driversLicenceNumber" ng-model='identificationDetails.driversLicenceNumber'  ng-class="{'error' : form.$submitted && form.driversLicenceNumber.$invalid && selectedId == 'driverLicense'}" ng-required="selectedId == 'driverLicense'"/>
                              <div class="help-inline" ng-show="form.$submitted && form.driversLicenceNumber.$invalid && selectedId == 'driverLicense'">This Field is Invalid</div>
                          </div>
                          <div class="form-cell col-1of1-g" ng-show="selectedId == 'driverLicense'">
                              <label>Version (5b)*</label>
                              <input type="text" name="driversLicenceVersion" ng-model='identificationDetails.driversLicenceVersion'  ng-class="{'error' : form.$submitted && form.driversLicenceVersion.$invalid && selectedId == 'driverLicense'}" ng-required="selectedId == 'driverLicense'"/>
                              <div class="help-inline" ng-show="form.$submitted && form.driversLicenceVersion.$invalid && selectedId == 'driverLicense'">This Field is Invalid</div>
                          </div>

                          <div class="form-cell col-1of1-g passport-number" ng-show="selectedId == 'passport'">
                              <label>Passport Number*</label>
                              <input type="text" name="passportNumber" ng-model='identificationDetails.passport.passportNumber'  ng-class="{'error' : form.$submitted && form.passportNumber.$invalid && selectedId == 'passport'}" ng-required="selectedId == 'passport'"/>
                              <div class="help-inline" ng-show="form.$submitted && form.passportNumber.$invalid && selectedId == 'passport'">This Field is Invalid</div>
                          </div>

                      </div>
                  </div>
</div>