<div>
                  <!-- Tab Content !-->
                  <h5>Personal Details</h5>

                  <div class="form">
                      <div class="fieldset">
                          <div class="form-cell col-1of1-g">
                              <label>Email*</label> 
                              <input type="email" name="email" ng-model='personalDetails.email' ng-class="{'error': form.$submitted && form.email.$invalid }" 
                              required />
                              <div class="help-inline" ng-show="form.$submitted && form.email.$invalid">Please enter an email address</div>

                          </div>

                          <div class="form-cell col-1of1-g" ng-show="selectedLabel == 'Trust'">
                              <label>Trust Name/Estate*</label>
                              <input type="text" name="structure" ng-model='personalDetails.structure'  ng-class="{'error' : form.$submitted && form.structure.$invalid && selectedLabel == 'Trust'}" ng-required="selectedLabel == 'Trust'"/>
                              <div class="help-inline" ng-show="form.$submitted && form.structure.$invalid && selectedLabel == 'Trust'">This Field is Invalid</div>
                          </div>

                          <div class="form-cell col-1of1-g" ng-show="selectedLabel == 'Company'">
                              <label>Company*</label>
                              <input type="text" name="structure1" ng-model='personalDetails.structure1'  ng-class="{'error' : form.$submitted && form.structure1.$invalid && selectedLabel == 'Company'}" ng-required="selectedLabel == 'Company'"/>
                              <div class="help-inline" ng-show="form.$submitted && form.structure1.$invalid && selectedLabel == 'Company'">This Field is Invalid</div>
                          </div>

                          <div class="row">
                              <h6 class="col-1of1-g" ng-show="selectedLabel == 'Joint'">Contact Person</h6>
                              <div class="form-cell col-1of7-g">
                                  <label>Title*</label>
                                  <div class="select-holder" ng-class="{'error' : form.$submitted && form.title.$invalid }">
                                      <select name="title"  ng-model="personalDetails.title" ng-options="item for item in titles" required>
                                        <option value="">--Select--</option>
                                      </select>
                                  </div>
                                  <div class="help-inline" ng-show="form.$submitted && form.title.$invalid">Required</div>
                              </div>
                              <div class="form-cell col-3of7-g">
                                  <label>Surname*</label>
                                  <input class="col-1of2" type="text"  name="surname"  ng-model="personalDetails.surname" ng-class="{'error' : form.$submitted && form.surname.$invalid }" required/>
                                  <div class="help-inline" ng-show="form.$submitted && form.surname.$invalid">This Field is Required</div>
                              </div>
                              <div class="form-cell col-3of7-g">
                                  <label>First Name*</label>
                                  <input class="col-1of2" type="text"  name="firstName"  ng-model="personalDetails.firstName" ng-class="{'error' : form.$submitted && form.firstName.$invalid }" required />
                                  <div class="help-inline" ng-show="form.$submitted && form.firstName.$invalid">This Field is Required</div>
                              </div>
                          </div>

                          <div class="row" ng-show="selectedLabel == 'Joint'">
                              <div class="form-cell col-1of7-g">
                                  <label>Title*</label>
                                  <div class="select-holder" ng-class="{'error' : form.$submitted && form.title2.$invalid && selectedLabel == 'Joint' }">
                                      <select name="title2"  ng-model="personalDetails.title2" ng-options="item for item in titles"  ng-required="selectedLabel == 'Joint'">
                                        <option value="">--Select--</option>
                                      </select>
                                  </div>
                                  <div class="help-inline" ng-show="form.$submitted && form.title2.$invalid && selectedLabel == 'Joint'">Required</div>
                              </div>
                              <div class="form-cell col-3of7-g">
                                  <label>Surname*</label>
                                  <input class="col-1of2" type="text"  name="surname2"  ng-model="personalDetails.surname2" ng-class="{'error' : form.$submitted && form.surname2.$invalid && form.selectedOwner == 'Joint' }"  ng-required="selectedLabel == 'Joint'"/>
                                  <div class="help-inline" ng-show="form.$submitted && form.surname2.$invalid && selectedLabel == 'Joint'">This Field is Required</div>
                              </div>
                              <div class="form-cell col-3of7-g">
                                  <label>First Name*</label>
                                  <input class="col-1of2" type="text"  name="firstname2"  ng-model="personalDetails.firstName2" ng-class="{'error' : form.$submitted && form.firstname2.$invalid && form.selectedOwner == 'Joint' }" ng-required="selectedLabel == 'Joint'" />
                                  <div class="help-inline" ng-show="form.$submitted && form.firstname2.$invalid && selectedLabel == 'Joint'">This Field is Required</div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="form-cell col-1of2-g">
                                  <label>Telephone*</label>
                                  <input class="col-1of2" type="text"  name="telephone"  ng-model="personalDetails.contactPhone" ng-class="{'error' : form.$submitted && form.telephone.$invalid }" required />
                                  <div class="help-inline" ng-show="form.$submitted && form.telephone.$invalid">This Field is Required</div>
                              </div>
                              <div class="form-cell col-1of2-g">
                                  <label>Telephone (Mobile)</label>
                                  <input class="col-1of2" type="text"  name="mobile"  ng-model="personalDetails.mobilePhone" />
                              </div>
                          </div>
                          <div class="form-cell col-1of1-g">
                              <input type="text" name="address" id="Autocomplete" class="col-1of2" ng-autocomplete="result3" details="details3" placeholder="Please enter your postal address*" ng-model="personalDetails.address" ng-class="{'error' : form.$submitted && form.address.$invalid }" options="options3" required />
                              <div class="help-inline" ng-show="form.$submitted && form.address.$invalid">This Field is Required</div>
                          </div>
                      </div>
                  </div>
</div>