<div class="modal fade terms">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Terms and Conditions</h4>
            </div>
            <div class="modal-body">
                <div class="DnnModule DnnModule-DNN_HTML DnnModule-522">
                    <a name="522"></a>
                    <div class="c_actions">
                    </div>
                    <div class="c_icon">
                    </div>
                    <div class="c_footer">
                        <span><span></span>&nbsp;&nbsp;</span>
                    </div>
                    <div class="Title_Blue_Clear_Bg">
                        <h1>Terms of Use</h1>
                    </div>
                    <div id="dnn_ctr522_ContentPane" class="Title_Blue_Clear_Content">
                        <!-- Start_Module_522 -->
                        <div id="dnn_ctr522_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                            <div id="dnn_ctr522_HtmlModule_lblContent" class="Normal">
                                <p>Please click on Website Terms of Use and Website Privacy Policy for more information relating to this website. By viewing the pages of our website you acknowledge that you have read and have accepted our Website Terms of Use.
                                    <br> &nbsp; </p>
                                <h4>1. Purpose</h4>
                                <p><strong>1.1</strong> The purpose of these Terms of Use is to explain to the customer the terms and conditions on which they visit and use this website. Please read these Terms and Conditions carefully before using the FEI website.</p>
                                <p><strong>1.2</strong> These Terms of Use are to be read in conjunction with FEI’s Website Privacy Policy.</p>
                                <p><strong>1.3</strong> By accessing the FEI website, you indicate that you have read and agreed to these Terms of Use and the Website Privacy Policy.</p>
                                <p><strong>1.4</strong> It is a condition of your use of this website that you observe the Terms and Conditions at all times.
                                    <br> &nbsp; </p>
                                <h4>2. Information on Website</h4>
                                <p><strong>2.1</strong> The information on this website has been provided by FEI for information purposes. FEI does not warrant the accuracy or completeness of the materials on this website. FEI does not accept any liability for any loss or damage directly or indirectly arising from any information contained on this website.</p>
                                <p><strong>2.2</strong> FEI may at any time change the information available on this website, without notice, including discontinuing all or any aspects of this site. FEI will not be liable for any loss or damage which may arise directly or indirectly as a result of such changes.</p>
                                <p><strong>2.3</strong> No content on this website can or may change any contract for products or services that you may have with FEI.</p>
                                <p><strong>2.4</strong> When transmitting personal information over this site, please be aware that the internet is not a secure environment.
                                    <br> &nbsp; </p>
                                <h4>3. Website Links </h4>
                                <p><strong>3.1</strong> If FEI has provided links to any third party site for your assistance, this does not imply FEI’s agreement to or endorsement of any of the information contained within the third party site.</p>
                                <p><strong>3.2</strong> When a third party website is accessed from the FEI site, users depart FEI’s website. FEI will have no liability in respect of any loss or damage arising from any use of a third party link on the FEI website.</p>
                                <p><strong>3.3</strong> In accordance with recognised internet courtesy, should you wish to link the FEI website to your website, consent should be sought in writing from FEI before doing so.
                                    <br> &nbsp;
                                </p>
                                <h4>4. Applications for Credit </h4>
                                <p><strong>4.1</strong> Nothing in this site is to be construed as FEI making any offer to enter into any transaction or relationship with you. For full details of up to date service information, charges, interest rates, terms and conditions, and any special offers you should telephone FEI on 0800 334 683.</p>
                                <p><strong>4.2</strong> Notwithstanding any information on this site, any application for credit from FEI will be subject to FEI’s usual lending criteria as applicable at the time of application, together with lending fees, transaction fees and interest as applicable at the time of application.</p>
                                <p><strong>4.3</strong> FEI strongly recommends that you seek independent advice before acting on any information on this site. This site is not designed for the purpose of providing personal financial or investment advice.
                                    <br> &nbsp; </p>
                                <h4>5. Use of Information</h4>
                                <p><strong>5.1</strong> FEI has and claims copyright and all other intellectual property rights in all information on this website.</p>
                                <p><strong>5.2</strong> No part of the information displayed on this website is to be copied or displayed for redistribution to third parties without the written permission of FEI.</p>
                                <p><strong>5.3 </strong>No information on this website may be changed by any user.
                                    <br> &nbsp;
                                </p>
                                <h4>6. Jurisdiction</h4>
                                <p>The use of this website and these Terms and Conditions are to be governed by the laws of New Zealand, and any disputes arising from them will be resolved by the exclusive jurisdiction of the Courts of New Zealand.
                                    <br> &nbsp;
                                </p>
                                <h4>7. Further Information</h4>
                                <p>Further information about this website or FEI products and services can be sought by calling FEI on 0800 334 683. </p>
                            </div>
                        </div>
                        <!-- End_Module_522 -->
                    </div>
                    <div style="text-align:right; padding-right:15px"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
