<div>
          <div class="row range-invest">
              <div class="ui container m" >
                <h4 class="title">How much would you like to invest?</h4>
                <input id="rangeslider" 
                type="range" name="range"
                 min="{{investmentMin}}" max="{{investmentMax}}" 
                 step="{{investmentIncrements}}"
                  ng-model="termDeposit.amount" data-range-slider ng-required="form.$submitted && visible" />
                <small class="min">{{investmentMin | number:0}}</small><input 
                class="change-number" type="text"  
                ng-change="enterValue($event)"
                ng-model="changeNumber"
                ng-model-options="{ debounce: 500 }"
                ng-focus="focusin()" ng-blur="focusOut()" change-number><small class="max">{{investmentMax | number:0}}</small>
                <div class="alert">{{amountAlert}}</div>
              </div>
              
          </div>

          <div class="row rate-term">
              <div class="ui container m" ng-class="{'error' : form.$submitted && form.selectedRate.$invalid }">
                <h4 class="title">Choose your rate &amp; term</h4>
                <div class="block-outter">
                  <label class="chip" ng-repeat="rate in rates" ng-class="{selected: termDeposit.selectedRate.term == rate.term}">
                    <h2 class="ui header">{{rate.interestRate | number:1}}% <small>p.a</small></h2>
                    <div class="months">{{rate.term}} months</div>
                    <small class="interest" >Interest you'll earn:<br />${{finance(rate.interestRate, termDeposit.amount, rate.term) | number:2}}*</small>
                    <svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
                      <path class="circ path" style="fill:none;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="
                      M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
                      />
                      <polyline class="tick path" style="fill:none;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="
                      11.6,20 15.9,24.2 26.4,13.8 "></polyline>
                    </svg>
                    <input type="radio" name="selectedRate" ng-model="termDeposit.selectedRate" ng-value="rate" ng-checked="rateBlurred(termDeposit.selectedRate, termDeposit.amount)" ng-required="form.$submitted && visible">
                  </label>

                </div>
                <p class="annotation">
                  <small>* Based on your selected tax rate of {{taxRate.name}}.  <strong>Interest shown is indicative only</strong>.  To obtain an accurate quote please telephone FEI on 0800 334 683.</small>
                </p>
              </div>
              <div class="help-inline" ng-show="form.$submitted && form.selectedRate.$invalid">This Field is Required</div>
          </div>

          <div class="row interest-pay">
              <div class="ui container m" ng-class="{'error': form.$submitted && form.selectedInterest.$invalid}">
                <h4 class="title">Would you like your interest paid every 3 months or reinvested for greater returns?</h4>
                <div class="button-outter">
                  <label class="button"  ng-repeat="it in interests" ng-class="{selected: termDeposit.selectedInterest.value == it.value}">
                    {{it.title}}
                    <svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
                      <path class="circ path" style="fill:none;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="
                      M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
                      />
                      <polyline class="tick path" style="fill:none;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="
                      11.6,20 15.9,24.2 26.4,13.8 "/>
                    </svg>
                    <input type="radio" name="selectedInterest" ng-model="termDeposit.selectedInterest" ng-value="it" ng-required="form.$submitted && visible">
                  </label>

                  <div class="note" ng-show="termDeposit.selectedInterest.value == interests[1].value">Note: You could earn another ${{extraInterest | number:2}} by opting to reinvest the interest</div>
                </div>
              </div>
              <div class="help-inline" ng-show="form.$submitted && form.selectedInterest.$invalid"">This Field is Required</div>
              
          </div>



</div>