<div class="modal fade verification" data-dismiss="modal" slider>
    <div class="modal-dialog container s">
        <i class="fa fa-times-circle close-icon" ng-click="close()" data-dismiss="modal"></i>
        <div class="modal-content" ng-controll="termModalController">
            <div class="modal-body">
                <div class="h3">Sorry, please check your details</div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
