<div class="modal fade" slider>
<form name="modalMainForm" ng-submit="save()"  novalidate>
    <div class="modal-dialog container m">
        <div class="modal-content" ng-controll="ModalController">
            <div class="modal-body">
                <div term-deposit ng-model="termDeposit" investment-min="investmentMin" investment-max="investmentMax" investment-increments="investmentIncrements" rates="rates" interests="interests" tax-rate="taxRate"
                visiblility="formVisible" is-modal="true"
                form-name="modalMainForm"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-save">{{buttonText}}</button>
                <button type="button"  class="btn btn-cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>
</div>

