  <main id="content" class="content application"  role="main"  ng-controller="ConfigApplicationCtrl" ng-hide="submittedFrom">
  <form name="mainForm" ng-submit="submitApplication()" novalidate>

    <div class="ui segment application-1">
      <div class="ui middle aligned stackable grid container m">      
        <div class="row title">
            <div class="center aligned column">
                <h2 class="title">New Term Deposit Application Form</h2>
                <h3 class="empathy">We make investing as easy as possible.</h3>
                <h3 class="sharpen">Simply follow the process below or call us on our Investing Hotline on</h3>
                <h3 class="empathy">0800 334 683 to get started backing your success</h3>
            </div>
        </div>

        <div name="savedTermDeposit" ng-show="applicationForm.termDeposits.length > 1">
          <table class="ui celled table">
            <thead>
              <tr>
                <th>Amount</th>
                <th>Rate &amp; Term</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="sd in applicationForm.termDeposits">
                <td>${{sd.amount | number:0}}</td>
                <td>{{sd.selectedRate.interestRate}}% / {{sd.selectedRate.term}} months</td>
                <td class="{{$index}}"><a ng-click="editModal($index, sd, applicationForm.termDeposits.length)">Edit</a>|<a ng-click="deleteTermDeposit($index)">Delete</a></td>
              </tr>
            </tbody>
          </table>

        </div>
        <div  ng-hide="applicationForm.termDeposits.length > 1"  ng-if="rates">
          <div term-deposit ng-model="applicationForm.termDeposits[0]" investment-min="investmentMin" investment-max="investmentMax" investment-increments="investmentIncrements"
          rates="rates" interests="interests" tax-rate="taxRate" form-name="mainForm" existing-user="existData" visiblility="applicationForm.termDeposits.length > 1"></div>
        </div>

        <div class="row footer" ng-show="applicationForm.termDeposits[0].selectedRate && applicationForm.termDeposits[0].selectedInterest || applicationForm.termDeposits.length > 1">
              <div class="ui container m">
                <h4 class="title">Would you like to invest for another term?</h4>
                <div class="button-outter" >

                    <button type="button" class="button yes" ng-click="addAdditionalTermDeposit()" >Yes</button>

                    <label class="button no"">No<input type="radio" name="NoInvestAnotherTerm" ng-model="NoInvestAnotherTerm"/>
                    <svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
                      <path class="circ path" style="fill:none;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="
                      M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
                      />
                      <polyline class="tick path" style="fill:none;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="
                      11.6,20 15.9,24.2 26.4,13.8 "></polyline>
                    </svg>
                    </label>
                </div>
              </div>
        </div>

      </div>

    </div>

    <div class="ui segment application-2">

        <div class="row invested-before">
          <div class="ui container m" ng-class="{ 'error' : appSubmitted && mainForm.selectedInvestedBefore.$invalid }">
            <h4 class="title center">Have You Invested With Us Before?</h4>
            <div class="button-outter">
              <label class="button" ng-repeat="ivtb in investedBefore" ng-class="{selected: selectedInvestedBefore.value == ivtb.value}">
                {{ivtb.title}}
                <svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve"><path class="circ path" style="fill:none;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z" /><polyline class="tick path" style="fill:none;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="11.6,20 15.9,24.2 26.4,13.8 "/></svg>
                <input type="radio" name="selectedInvestedBefore" ng-model="$parent.selectedInvestedBefore" ng-value="ivtb" ng-change="investedBeforeInfo(selectedInvestedBefore.value)" required>
                <!-- ng-change="enterValue($event)" -->
              </label>
            </div>
            
          </div>
          <div class="help-inline container m" ng-show="appSubmitted && mainForm.selectedInvestedBefore.$error.required">This Field is Required</div>
        </div>

        <div class="row application">
            <div class="ui container m" ng-class="{true: 'error'}[appSubmitted && applicationForm.ifThisTabIsVisible.$invalid]">
              <h3 class="title">Who's This Investment For</h3>

              <div class="row tabular menu">
                <a class="item col-1of4" name="selectedOwner" ng-class="{active: selectedOwner == owner.value}" data-tab="investmentFor-name{{$index+1}}" ng-repeat="owner in owners" ng-model="selectedOwner" ng-click="activeTab(owner.value)">{{owner.title}}</a>

              </div>

              <div class="row tab-outter">

                <div class="ui tab active" data-tab="investmentFor-name1" ng-class="{active: selectedOwner == 'Individual'}">
                  <div personal-details  ng-model="applicationForm.personalDetails" organisation-field-label="'Individual'"  field-label="'Individual'" form-submitted="appSubmitted"  selected-label="selectedOwner" form-name="mainForm"></div>
                </div>
                <div class="ui tab " data-tab="investmentFor-name2" ng-class="{active: selectedOwner == 'Joint'}">
                  <div personal-details  ng-model="applicationForm.personalDetails" show-extra-person="true"  organisation-field-label="'Joint'"  field-label="'Joint'"    selected-label="selectedOwner"   form-name="mainForm"></div>
                </div>
                <div class="ui tab" data-tab="investmentFor-name3" ng-class="{active: selectedOwner == 'Trust'}">
                  <div personal-details ng-model="applicationForm.personalDetails"  organisation-field-label="'Company'" 
                  show-organisation-name="true"   field-label="'Trust'"
                  selected-label="selectedOwner" form-name="mainForm"></div>
                </div>
                <div class="ui tab" data-tab="investmentFor-name4" ng-class="{active: selectedOwner == 'Company'}">
                  <div personal-details  ng-model="applicationForm.personalDetails" show-organisation-name="true" organisation-field-label="'Company'"   field-label="'Company'" 
                  selected-label="selectedOwner"   form-name="mainForm"></div>
                </div>
                
              </div>
            </div>

        </div>

        <div class="row application">
            <div class="ui container m">
              <h4 class="title">Tax</h4>
              <div class="sub">If you are a New Zealand resident we will deduct Resident Withholding Tax ("RWT") at the rate of 38% unless you either request us to deduct at a lesser rate or if you hold a valid Certificate of Exemption for RWT. Please email or post a copy of this Exemption Certificate after submitting this Application Form.</div>
              <div class="row">
                <div class="form col-1of1">
                    <div class="fieldset">
                        <div class="row" >
                            <div class="form-cell col-1of2-g">
                                <label>IRD Number (01)*</label>
                                <input class="col-1of2" type="text"
                                name="irdNumber1" 
                                  ng-model="irdNumber1"
                                  ng-class="{ 'error' : appSubmitted && mainForm.irdNumber1.$invalid }" required>
                                <div class="help-inline" 
                                  ng-show="appSubmitted && mainForm.irdNumber1.$error.required">This Field is Required</div>
                            </div>
                            <div class="form-cell col-1of2-g" ng-show="IrdNumber2 == true" >
                                <label>IRD Number (02)</label>
                                <input class="col-1of2" type="text" 
                                name="irdNumber2" 
                                ng-model="irdNumber2" 
                                ng-class="{ 'error' : appSubmitted && mainForm.irdNumber2.$invalid && IrdNumber2 == true }"  ng-required="IrdNumber2 == true">

                                <div class="help-inline" 
                                  ng-show="appSubmitted && mainForm.irdNumber2.$error.required && IrdNumber2 == true">This Field is Required</div>
                            </div>
                        </div>
                        <div class="form-cell col-1of1-g">
                            <label>Please deduct RWT at the rate of</label>
                            <div class="select-holder"  ng-class="{ 'error' : appSubmitted && mainForm.getRWTrate.$invalid }" >
                                <select ng-model="taxRate" name="getRWTrate" ng-options="item as item.name for item in rWTrate" required>
                                </select>
                            </div>
                            <div class="help-inline" ng-show="appSubmitted && mainForm.getRWTrate.$error.required">This Field is Required</div>
                        </div>
                    </div>
                  </div>
              </div>
              
            </div>
        </div>

        <div class="row application maturity-instructions" >
            <div class="ui container m">
              <h2 class="title">Maturity Instructions</h2>
              <div class="sub">What would you like to do as each term deposit matures?</div>
              <div class="form row ">

                    <div class="fieldset maturity-instructions">

                        <div class="row" ng-class="{ 'error' : appSubmitted && mainForm.selectedMaturityInstructions.$invalid }">
                          <div class="form-cell col-1of1-g" ng-repeat="ist in maturityInstructions">
                              <input type="radio" name="selectedMaturityInstructions" ng-model="$parent.selectedMaturityInstructions" ng-value="ist" id="{{ist.value}}" required>
                              <label class="checkbox" for="{{ist.value}}" >
                                <div>{{ist.title}}</div>
                                <small>{{ist.description}}</small>
                              </label>
                          </div>
                        </div>
                        <div class="help-inline" ng-show="appSubmitted && mainForm.selectedMaturityInstructions.$error.required">This Field is Required</div>

                    </div>

              </div>
            </div>
        </div>

        <div class="row application maturity-instructions bank">
            <div class="ui container m">
              <h2 class="title">Bank Account</h2>
              <div class="sub">Which bank account would you like interest and principal repayments to go to:</div>
              <div class="form row ">
                  <div class="fieldset maturity-instructions bank">
                      <div class="row">
                          <div class="form-cell col-2of5-g">
                              <label>Bank Name*</label>
                              <input class="col-1of2" type="text"
                              name="bankName" 
                                ng-model="bankName"
                                ng-class="{ 'error' : appSubmitted && mainForm.bankName.$invalid }" required>
                              <div class="help-inline" 
                                ng-show="appSubmitted && mainForm.bankName.$error.required" >This Field is Required</div>
                          </div>
                          <div class="form-cell col-3of5-g">
                              <label>Account Number*</label>
                              <input class="col-1of2" type="text" 
                              name="accountNumber" 
                              ng-model="accountNumber" 
                              ng-class="{ 'error' : appSubmitted && mainForm.accountNumber.$invalid }" required>
                              <div class="help-inline" 
                                ng-show="appSubmitted && mainForm.accountNumber.$error.required">This Field is Required</div>
                          </div>
                          <div class="form-cell col-1of1-g">
                              <label>Account Name</label>
                              <input class="col-1of2" type="text" 
                              name="bankAccountName" 
                              ng-model="bankAccountName" 
                              ng-class="{ 'error' : appSubmitted && mainForm.bankAccountName.$invalid }" >
                              <div class="help-inline" 
                                ng-show="appSubmitted && mainForm.bankAccountName.$error.required">This Field is Required</div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>

        <div class="row application" >
            <div class="ui container m">
              <h4 class="title">Terms &amp; Conditions</h4>
              <div class="sub">FE Investments' Standard terms and conditions and <a href="/wp-content/uploads/2016/11/FEI_Investment_Statement.pdf" target="_blank">Investment Statement</a> apply to Term Deposits.
               By submitting this application, you agree to these <a href="/wp-content/uploads/2016/11/FEI_Investment_Statement.pdf" target="_blank" class="terms">terms and conditions</a>.</div>
            </div>
        </div>

        <div class="row footer">
            <div class="ui container m">
              <div class="button-outter" >
                <button type="submit" class="button" ng-disabled="talkingToServer"> <img src="../images/loading-of-ring.svg">Submit Application</button>
                <div class="result-text">{{resultTxt}}</div>
              </div>
            </div>
        </div>

        <div class="process-overlay">
          <div class="container">
            <div >Processing...</div>
          </div>
        </div>
      
    </div>

  </form>

  </main>