<main id="content" class="content" role="main" ng-controller="idVerificationController">
	<form name="verifyForm" ng-submit="verifyId()" novalidate>

		<div class="ui segment id-verification">

			<div class="ui middle aligned stackable grid container s">
				<div class="row title">
					<div class="aligned column">
						<h1>ID Verification</h1>
						<h3 class="sharpen">Please choose from the following forms of I.D.</h3>
					</div>
				</div>

				<div class="row verification-form">
					<div class="ui row segment">

						<div class="row tabular menu">
							<a class="item col-1of2" name="selectedId" ng-class="{active: selectedId == id.value}" data-tab="id-name{{$index+1}}" ng-repeat="id in identifications"
								ng-model="selectedId" ng-click="activeId(id.value)">{{id.title}}</a>
						</div>

						<div class="row tab-outter">
							<div class="ui tab" data-tab="id-name1" ng-class="{active: selectedId == 'driverLicense'}">
								<div identification-details ng-model="identificationDetails" organisation-field-label="'Driver License'" field-label="'Driver License'"
									form-submitted="verificationSubmitted" selected-id="selectedId" show-driver-license-fields="true" form-name="verifyForm"></div>
							</div>
							<div class="ui tab" data-tab="id-name2" ng-class="{active: selectedId == 'passport'}">
								<div identification-details ng-model="identificationDetails" show-passport-number="true" organisation-field-label="'Passport'"
									field-label="'Passport'" form-submitted="verificationSubmitted" selected-id="selectedId" form-name="verifyForm"></div>
							</div>
						</div>

					</div>

					<div class="row footer">
						<div class="ui container m">
							<div class="button-outter">
								<!-- <a type="submit" class="button" href="submitted.html">Submit Application</a> -->
								<button type="submit" class="button" ng-disabled="talkingToServer"> <img src="../images/loading-of-ring.svg">Verify Id</button>
								<div class="result-text">{{resultTxt}}</div>
							</div>
						</div>
					</div>

					<div class="process-overlay">
						<div class="container">
							<div>Verifying...</div>
						</div>
					</div>

				</div>
			</div>

		</div>

	</form>
</main>