  <main id="content" class="content"  role="main"  ng-controller="ConfirmationController">
	<div class="ui segment submitted verified">
		<div class="ui middle aligned stackable grid container s">

	        <div class="row title">
	            <div class="aligned column">
	            	<h1>Thanks you're verified!</h1>
	            </div>
	        </div>
            
	        <div class="payment-guide">	
	        	<div class="notice">You may send your payment using any of the following options:</div>
	        	<article>
	        		<h5 class="empathy">Paying by Cheque</h5>
	        		<div>Please send a cheque for ${{getTotalInvestAmounts(result.terms) | number:0}} to FE Investments Limited</div>
	        		<div>Please write reference number: {{appNumber}} on back</div>
	        	</article>
	        	<article>
	        		<h5 class="empathy">Paying by Direct Credit</h5>
	        		<div>Please deposit ${{getTotalInvestAmounts(result.terms) | number:0}} to FE Investments Limited</div>
	        		<div>Bank Account: ASB Bank 12-3216-0057691-61</div>
	        		<div class="notice">Please use there details when making your transfer:</div>
	        		<ul>
	        			<li><strong>Particulars:</strong> {{fullName | limitTo:12}}</li>
	        			<li><strong>Code:</strong> {{appNumber}}</li>
	        			<li><strong>Reference:</strong> {{appNumber}}</li>
	        		</ul>
	        	</article>
	        </div>
		</div>
	</div>
  </main>