
<div class="modal fade">
<form name="investedBeforeForm" ng-submit="quickSave()"  novalidate>
    <div class="modal-dialog container m">
        <div class="modal-content" ng-controll="termModalController" ng-class="{ 'continue' : investedBeforeForm.$submitted && ExistingUser }">
            <div class="modal-body previously-invested">
                <h4 class="title">If you have previously invested with us to save your time please enter your Last Name and either your Client number or Deposit number.</h4>
                <!-- <div term-deposit ng-model="termDeposit" investment-min="investmentMin" investment-max="investmentMax" investment-increments="investmentIncrements" rates="rates" interests="interests" tax-rate="taxRate"
                visiblility="formVisible" is-modal="true"
                form-name="modalMainForm"></div> -->
                <div class="row ">
                    <div class="form-cell col-1of2-g" >
                        <label>Last Name*</label>
                        <input class="" type="text" name="LastName" ng-model="LastName" ng-class="{ 'error' : investedBeforeForm.$submitted && investedBeforeForm.LastName.$invalid }" required>
                        <div class="help-inline col-1of1 " ng-show="investedBeforeForm.$submitted && investedBeforeForm.LastName.$error.required">This Field is Required</div>
                    </div>
                    <div class="form-cell col-1of2-g" >
                        <label>Deposit or Client Number:*</label>
                        <input class="" type="text" name="depositOrClientNumber" ng-model="depositOrClientNumber" ng-class="{ 'error' : investedBeforeForm.$submitted && investedBeforeForm.depositOrClientNumber.$invalid }" required>
                        <div class="help-inline col-1of1 " ng-show="investedBeforeForm.$submitted && investedBeforeForm.depositOrClientNumber.$error.required">This Field is Required</div>
                    </div>
                </div>
                <div class="row submit">
                    <div class="form-cell col-1of1-g" >
                        <button type="submit" class="button col-1of1" ng-disabled="talkingToServer" > <img src="/wp-content/themes/fei.co.nz/dist/images/loading-of-ring.svg" ng-show="talkingToServer">Continue</button>
                        <div class="lookup-result-text col-1of1" ng-show="lookupResultTxt">{{lookupResultTxt}}</div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn single-btn btn-cancel" ng-click="closeModal()" >Cancel</button>
                <button type="button" class="btn single-btn btn-save btn-continue" ng-click="continueLookupResult()">Continue</button>

            </div>
        </div>
    </div>
</form>
</div>

