  <main id="content" class="content"  role="main"  ng-controller="ConfirmationController">



	<div class="ui segment submitted">

		<div class="ui vertical center title" style="margin: 2rem 0;">
		<div class="ui grid container s" style=" text-align: center;"><div class="label" style=" border: 1px solid #000072; padding: 15px 0;">
		<img src="/wp-content/uploads/2016/12/christmas-tree.png" style="width: 30px;margin-right: 10px;">
		<span class="text">FEI's office is closed from 21 December 2016 for the Christmas & New Year holiday. We reopen on the 9th of January 2017 to process your application then.</span></div>
		</div>
		</div>

		<div class="ui middle aligned stackable grid container s">

	        <div class="row title">
	            <div class="aligned column">
	            	<h1>Thanks</h1>
	                <h3 class="sharpen">We have emailed details of your application to <a href="mailto:{{result.contactDetails.email}}">{{result.contactDetails.email}}</a> with the next steps</h3>
	            </div>
	        </div>
	        <div class="row submitted-form">
	        	<div class="ui row segment">
	        		<h4 class="title empathy">Details of your application:</h4>
	        		<div class="detail-block col-1of1">

        				<div class="row array" ng-repeat="amt in result.terms">
		        			<div class="col-3of12" >
		        				<div class="empathy">Investment</div>
		        				<div >${{amt.amount | number:0}}</div>
		        			</div>
		        			<div class="col-3of12">
		        				<div class="empathy">Rate</div>
		        				<div >{{amt.interest}}%</div>
		        			</div>
		        			<div class="col-3of12">
		        				<div class="empathy">Term</div>
		        				<div >{{amt.term}} months</div>
		        			</div>
		        			<!--<div class="col-3of12">
		        				<div class="empathy">Interest You’ll Earn</div>
		        				<div>${{calcInterestYouwillGet(amt.interest, amt.amount, amt.term) | number:2}}</div>
		        			</div>-->
							<div class="col-3of12">
		        				<div class="empathy">Every Quarter</div>
		        				<div ng-show="amt.reinvest">Reinvest Interest</div>
		        				<div ng-hide="amt.reinvest">Pay Interest</div>
		        			</div>
	        			</div>

	        		</div>
	        	</div>
	        	<div class="ui row segment">
	        		<h5 class="title">Personal Details</h5>
	        		<div class="detail-block col-1of1">
	        			<div class="row">
		        			<div class="col-2of5">Investor</div>
		        			<div class="col-3of5 empathy">{{result.owner.entity.name}}</div>
	        			</div>
	        			<div class="row">
		        			<div class="col-2of5">Contact Name</div>
		        			<div class="col-3of5 empathy">{{result.contactDetails.title}}. {{result.contactDetails.firstName}} {{result.contactDetails.surname}}</div>
	        			</div>
	        			<div class="row" ng-show="result.contactDetails.title2">
		        			<div class="col-2of5">Contact Name 2</div>
		        			<div class="col-3of5 empathy">{{result.contactDetails.title2}}. {{result.contactDetails.firstName2}} {{result.contactDetails.surname2}}</div>
	        			</div>
	        			<div class="row">
		        			<div class="col-2of5">Telephone</div>
		        			<div class="col-3of5 empathy">{{result.contactDetails.phones.contact}}</div>
	        			</div>
	        			<div class="row">
		        			<div class="col-2of5">Telephone (Mobile)</div>
		        			<div class="col-3of5 empathy">{{result.contactDetails.phones.mobile}}</div>
	        			</div>
	        			<div class="row">
		        			<div class="col-2of5">Email</div>
		        			<div class="col-3of5 empathy">{{result.contactDetails.email}}</div>
	        			</div>
	        			<div class="row">
		        			<div class="col-2of5">Address</div>
		        			<div class="col-3of5 empathy">{{result.contactDetails.postalAddress.fullAddress}}</div>
	        			</div>
	        		</div>
	        	</div>
	        	<div class="ui row segment">
	        		<h5 class="title">Tax</h5>
	        		<div class="detail-block col-1of1">
	        			<div class="row">
		        			<div class="col-2of5">IRD Number</div>
		        			<div class="col-3of5 empathy">{{result.tax.irdNumber}}</div>
	        			</div>
	        			<div class="row" ng-show="result.tax.irdNumber2">
		        			<div class="col-2of5">IRD Number (02)</div>
		        			<div class="col-3of5 empathy">{{result.tax.irdNumber2}}</div>
	        			</div>
	        			<div class="row">
		        			<div class="col-2of5">RWT Deduction rate</div>
		        			<div class="col-3of5 empathy">{{result.tax.taxRate}}%</div>
	        			</div>
	        		</div>
	        	</div>
	        	<div class="ui row segment">
	        		<h5 class="title">Maturity Instructions</h5>
	        		<div class="detail-block col-1of1">
	        			<div class="col-custom-1"><i class="icon fa fa-check-circle fa-fw"></i></div>
	        			<div class="col-custom-9">
	        				<div>{{ListOfMaturityInstructions.description}}</div>
	        				<!-- <div class="empathy">{ListOfMaturityInstructions.description}}</div> -->
	        				<!-- <small>{{ListOfMaturityInstructions.description}}</small> -->
	        			</div>
	        		</div>
	        	</div>

	        	<div class="ui row segment">
	        		<h5 class="title">Bank Account</h5>
	        		<div class="bank-block col-1of1">
	        			<div class="col-1of3">
	        				<div class="col-2of5">Bank Name:</div>
	        				<div class="empathy col-2of5">{{result.maturityInstructions.bank}}</div>
	        			</div>
	        			<div class="col-2of3">
	        				<div class="col-4of12">Account Number:</div>
	        				<div class="empathy col-8of12">{{result.maturityInstructions.accountNumber}}</div>
	        			</div>
	        			<div class="col-1of1" style="margin-top:10px">
	        				<div class="col-3of12">Account Name:</div>
	        				<div class="empathy col-9of12">{{result.maturityInstructions.bankAccountName}}</div>
	        			</div>
	        		</div>
	        	</div>

	        	<div class="ui row segment">
	        		<h5 class="title">Identification</h5>
	        		<div class="detail-block">
	        			<div class="col-custom-1"><i class="icon fa fa-check-circle fa-fw"></i></div>
	        			<!-- <div class="col-custom-9">Perform online identification using by driver license or passport</div> -->
	        			<div class="col-custom-9">I'll post in a certified copy of my passport or driver license and proof of address</div>
	        		</div>
	        	</div>
	        </div>
	        <div class="payment-guide">	
	        	<h5 class="title">Payment Information</h5>
	        	<div class="notice">You may send your payment using any of the following options:</div>
	        	<article>
	        		<h5 class="empathy">Paying by Cheque</h5>
	        		<div>Please send a cheque for ${{getTotalInvestAmounts(result.terms) | number:0}} to FE Investments Limited</div>
	        		<div>Please write reference number: {{appNumber}} on back</div>
	        	</article>
	        	<article>
	        		<h5 class="empathy">Paying by Direct Credit</h5>
	        		<div>Please deposit ${{getTotalInvestAmounts(result.terms) | number:0}} to FE Investments Limited</div>
	        		<div>Bank Account: ASB Bank 12-3216-0057691-61</div>
	        		<div class="notice">Please use there details when making your transfer:</div>
	        		<ul>
	        			<li><strong>Particulars:</strong> {{fullName | limitTo:12}}</li>
	        			<li><strong>Code:</strong> {{appNumber}}</li>
	        			<li><strong>Reference:</strong> {{appNumber}}</li>
	        		</ul>
	        	</article>
	        </div>
		</div>
	</div>
  </main>