        <div class="ui vertical center about-us">
          
            <div class="ui middle aligned stackable grid container s">
                <div class="row title">
                    <div class="column">
                        <h1>About Us</h1>
                        <div class="sub">
                          <p><strong>FE Investments Limited</strong> (FEI) has been operating since July 2003. It is a non-bank deposit taker (NBDT) operating under the relevant regulations issued by the Reserve Bank of New Zealand. Covenant Trust Limited, an independent trustee corporation, monitors FEI’s performance on behalf of our depositors. FEI lends money and provides financial support to enterprises in the business and property sectors.</p>
                          <p>In addition, FEI enters into underwriting commitments for debt securities issued by third party issuers. FEI earns fees from such underwriting commitments and when called upon, would subscribe for the securities which it has agreed to underwrite.</p>
                          <p>FEI is part of the <strong>FE Group</strong>, a New Zealand financial services group. FE Group also include <strong>FE Securities Limited</strong>,  which is a corporate advisory. FE Securities specialises in innovative structures in raising capital.</p>
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui row segment credit-rating">
          <div class="detail-block container s">
            
            <div class="col-7of12">
              <h4 class="title empathy">FEI Credit Rating</h4>
              <p>FE Investments Limited has a credit rating of "<strong>B Stable</strong>" from Standard &amp; Poor's. Further information on credit ratings can be found on the Standard &amp; Poor's website.<br/><a href="www.standardandpoors.com" target="_blank">www.standardandpoors.com</a></p>
            </div>
            <div class="col-5of12">
              <!-- <img src="./images/credit-rating.jpg"> -->
              <div class="circle-img" style="background-image:url(./images/credit-rating.jpg)"></div>
            </div>

          </div>
        </div>

        <div class="ui row segment directory">
          <div class="container s">
            <h4 class="title empathy">Directory</h4>
            <div class="ui row segment">
              <div class="col-1of1-g">
                <h5 class="title">Issuer</h5>
                <div class="detail-block col-1of1">
                  <div class="row">
                    <div class="col-4of12 empathy">Name:</div>
                    <div class="col-8of12 ">FE Investments Limited,</div>
                  </div>
                  <div class="row">
                    <div class="col-4of12 empathy">Physical address:</div>
                    <div class="col-8of12 ">Level 8, 92 Albert Street, Auckland City.</div>
                  </div>
                  <div class="row">
                    <div class="col-4of12 empathy">Postal address:</div>
                    <div class="col-8of12 ">PO Box 106 264, Auckland.</div>
                  </div>
                  <div class="row">
                    <div class="col-4of12 empathy">Telephone:</div>
                    <div class="col-8of12 ">(09) 359 9445</div>
                  </div>
                  <div class="row">
                    <div class="col-4of12 empathy">Facsimile:</div>
                    <div class="col-8of12 ">(09) 358 0454</div>
                  </div>
                  <div class="row">
                    <div class="col-4of12 empathy">Freephone:</div>
                    <div class="col-8of12 ">0800 FEINVEST (0800 334 683)</div>
                  </div>
                  <div class="row">
                    <div class="col-4of12 empathy">Email:</div>
                    <div class="col-8of12 ">
                      <a href="mailto:enquiries@fei.co.nz">enquiries@fei.co.nz</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4of12 empathy">Website:</div>
                    <div class="col-8of12">
                      <a href="www.fei.co.nz">www.fei.co.nz</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4of12 empathy">Bank account:</div>
                    <div class="col-8of12 empathy ">
                        ASB Bank Limited 12-3216-0057691-61
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui row segment">
              <div class="col-1of2-g">
                <h5 class="title">Directors of the issuer directors</h5>
                <div class="detail-block col-1of1">
                  <div class="row">
                    Melvin Douglas Stewart BAg Sc
                  </div>
                  <div class="row">
                    Thatt Kiong Shim BA (Econ.), LLB
                  </div>
                  <div class="row">
                    Jerome Davids
                  </div>
                  <div class="row">
                    Andrew Schnauer
                  </div>
                  <div class="row">
                    Marcus Ritchie
                  </div>
                </div>
              </div>
              <div class="col-1of2-g">
                <h5 class="title">Auditors</h5>
                <div class="detail-block col-1of1">
                  <div class="row">
                    <div class="col-4of12 empathy">Name:</div>
                    <div class="col-8of12">DFK Oswin Griffiths Carlton</div>
                  </div>
                  <div class="row">
                    <div class="col-4of12 empathy">Physical address:</div>
                    <div class="col-8of12">Level 4, 52 Symonds Street, Auckland</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui row segment">
              <div class="col-1of2-g">
                <h5 class="title">Trustee</h5>
                <div class="detail-block col-1of1">
                  <div class="row">
                    <div class="col-4of12 empathy">Name:</div>
                    <div class="col-8of12">Covenant Trustee Services Limited</div>
                  </div>
                  <div class="row">
                    <div class="col-4of12 empathy">Physical address:</div>
                    <div class="col-8of12">Level 6, Crombie Lockwood Tower, 191 Queen Street, Auckland 1010.</div>
                  </div>
                </div>
              </div>
              <div class="col-1of2-g">
                <h5 class="title">Securities Registrar</h5>
                <div class="detail-block col-1of1">
                  <div class="row">
                    <div class="col-4of12 empathy">Name:</div>
                    <div class="col-8of12">FE Investments Limited</div>
                  </div>
                  <div class="row">
                    <div class="col-4of12 empathy">Physical address:</div>
                    <div class="col-8of12">Level 8, 92 Albert Street, Auckland City.</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="ui vertical center meet-the-team">
          
            <div class="ui middle aligned stackable grid container s">
                <div class="row title">
                    <h2>Meet the Executive Team</h2>
                    <div class="sub">
                      <p>The two Executive Directors of FE Investments have, collectively, 45 years of experience in the banking and finance sector. The Executive Directors have previous experience at senior level with well-known banks and financial institutions in New Zealand. In addition to banking, they have experience and training in agricultural science, property valuation, law and economics.</p> 
                      <p>The Executive Directors are supported by a management team with expertise and experience in the areas of law, accounting and risk management practices. FE Investments has staff to assist with your queries in English, Chinese, Indian and Malaysian.</p> 
                    </div>
                </div>

                <div class="ui row segment members">
                  
                  <div class="detail-block col-1of1">
                    <div class="row">
                      <h5 class="title">Mel Stewart</h5>
                      <div class="col-3of12 empathy">
                      <img src="./images/mel-stewart.jpg">
                      </div>
                      <div class="col-9of12">
                        <p>Mel Stewart has extensive experience in financing in the rural, residential, commercial and industrial sectors throughout Australasia and Oceania.</p>
                        <p>His involvement in the Rural Bank and Elders Finance Limited gives him a comprehensive understanding of issues relating to these areas of finance.</p>
                        <p>Mel is a qualified property valuer trained in New Zealand.</p>
                      </div>
                    </div>
                  </div>

                  <div class="detail-block col-1of1">
                    <div class="row">
                      <h5 class="title">TK Shim</h5>
                      <div class="col-3of12 empathy">
                      <img src="./images/tk-shim.jpg">
                      </div>
                      <div class="col-9of12">
                        <p>TK Shim has in-depth experience in corporate advisory services and corporate finance to Small to Medium-sized Enterprises (“SME’s”).</p> 
                        <p>TK specialises in innovative structured financing for companies in the general business sector including arranging bond and unit trust issues, putting in place trade finance, financing acquisitions, securitisation facilities and other cashflow lending products.</p> 
                        <p>He was a banking law specialist with some of the major law firms in New Zealand and has also gained banking experience working with Westpac Banking Corporation.</p> 
                        <p>TK graduated with a law degree and a BA (economics major) from University of Auckland.</p> 
                      </div>
                    </div>
                  </div>

                  <div class="detail-block col-1of2-g">
                    <div class="row">
                      <h5 class="title">Jerome Davids</h5>
                      <div class="col-10of12">
                        <strong>Independent Director</strong>
                        <p>Jerome is managing partner of SCSG, a tax, accounting and business advisory firm based in Kuala Lumpur.</p>
                        <p>Jerome is a registered Barrister of the High Court of New Zealand. He is also a member of the New Zealand Institute of Chartered Accountants, Association of International Accountants (UK) and Chartered Tax Institute of Malaysia(Fellow).</p>
                      </div>
                    </div>
                  </div>

                  <div class="detail-block col-1of2-g">
                    <div class="row">
                      <h5 class="title">Andrew Schnauer</h5>
                      <div class="col-10of12">
                        <strong>Independent Director</strong>
                        <p>Andrew is an enrolled Barrister and Solicitor of the High Court of New Zealand and is a director of Schnauer and Co Limited, a law firm situated in Auckland. Andrew acts for a varied range of businesses and also has extensive experience with commercial and residential property. He has also developed a specialty in Trusts and asset planning and (via corporate trustee companies) acts as a professional trustee for numerous Trusts.</p> 
                      </div>
                    </div>
                  </div>

                  <div class="detail-block col-1of2-g">
                    <div class="row">
                      <h5 class="title">Marcus Ritchie</h5>
                      <div class="col-10of12">
                        <strong>Independent Director</strong>
                        <p>Marcus is currently employed as Director of Public Utilities at ANZ Bank (Sydney).</p> 
                        <p>Marcus is an experienced investment banker based in Sydney with over 15 years’ experience, having worked at Bank of America Merrill Lynch, Dresdner Kleinwort Investment Bank (UK), American Express (New York) and Westpac (NZ).</p> 
                      </div>
                    </div>
                  </div>

                </div>

            </div>

        </div>


        <div class="ui vertical segment blurb homepage">
            <div class="ui text container">
                <div class="h5 sharpen">FE Investments is a Non Bank Deposit Taker </div>
                <div class="h3 empathy">0800 334 683</div>
            </div>
        </div>

