        <div class="ui vertical center contact-us">
          
            <div class="ui grid container">
                <div class="row">
                    <div class="col-5of12 left column">
                        <article>
                          <h1>Contact Us</h1>
                          <div class="sub">
                            <p>If you would like to speak to our helpful FEI team telephone us free on <strong>0800 334 683</strong> or email us at <a href="mailto:enquiries@fei.co.nz">enquiries@fei.co.nz</a></p>
                          </div>
                          <ul class="address">
                            <li class="empathy">FE Investments Limited</li>
                            <li>Level 8, 92 Albert Street</li>
                            <li>Auckland City</li>
                            <li>PO Box 106 264</li>
                            <li>Auckland 1143</li>
                            <li>New Zealand</li>
                            <li><a href="www.fei.co.nz">www.fei.co.nz</a></li>
                          </ul>
                          <div class="phonenumber">Phone: <strong><a href="tel:6493599445">+64 9 359 9445</a></strong></div>
                          <div class="bank-account">Bank Account: <strong>ASB Bank 12-3216-0057691-61</strong></div>
                        </article>
                    </div>
                    <div class="col-7of12 right column">
                      <article>
                         <h1>Online Enquiries Form</h1>
                          <div class="sub">
                            <p>Use this form to email us with your enquiry and we’ll be right back to you.<br/>(Fields with * are required fields.)</p>
                          </div>

                          <form>
                             <div class="row">
                                <div class="form-cell col-1of1-g">
                                    <label>Your Name*</label>
                                    <input type="text" name="" required>
                                </div>
                             </div>
                            <div class="row">
                                <div class="form-cell col-1of2-g">
                                    <label>Email Address*</label>
                                    <input type="text" name="" required>
                                </div>
                                <div class="form-cell col-1of2-g">
                                    <label>Daytime Telephone Number*</label>
                                    <input type="text" name="" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-cell col-1of1-g">
                                    <label>Mailing Address*</label>
                                    <input type="text" name="" required>
                                </div>
                             </div>
                             <div class="row">
                                <div class="form-cell col-1of1-g">
                                    <textarea name="your-enquiry" placeholder="Your enquiry*" required></textarea>
                                </div>
                             </div>
                              <button type="submit" class="button col-1of1-g"><span>Submit</span><span class="cn">提交</span></button>
                          </form>

                      </article>
                    </div>
                </div>
            </div>

        </div>


        <div class="ui vertical segment blurb homepage">
            <div class="ui text container">
                <div class="h5 sharpen">FE Investments is a Non Bank Deposit Taker </div>
                <div class="h3 empathy">0800 334 683</div>
            </div>
        </div>

