        <div class="ui vertical center hero">
          <div class="header-block">
            <div class="ui text container">
              <section>
                <div class="table-cell">
                  
                    <div class="h2 empathy">SmartPay</div>
                    <p class="sharpen">SmartPay is a listed corporation on the New Zealand Stock Exchange.<br/>FE Investments was involved in the acquisition...<a href="#">Read more</a></p>
                    <div class="ui cta-block">
                      <a class="button button-sec" href="#">Read more</a>
                    </div>
                
                </div>
              </section>
            </div>
          </div>

        </div>

        <div class="ui vertical center fei-financing">
          
            <div class="ui middle aligned stackable grid container s">
                <div class="row title">
                    <div class="column">
                        <h1>FEI Financing</h1>
                        <div class="sub">
                          <p>FE Investments was incorporated in 2003. FEI provides financing and financing solutions to enterprises in the business and property sectors.</p>
                          <p>Within the business sector, FEI makes advances to qualifying small and medium sized enterprises (SMEs) as well as small listed companies in New Zealand. The facilities take the form of term loans, working capital facilities and funding for acquisition of business or assets.</p>
                          <p>FEI also provides advances by way of discounting of rental or subscription contracts entered into by companies operating in the equipment hire and business services sectors.</p>
                          <p>Within the property sector, FEI provides facilities for property development in the areas of residential (including apartments), industrial and commercial structures and buildings.</p>
                          <p>In addition FEI considers lending opportunities related to the acquisition of completed developments or buildings where the current owners need to sell under distressed circumstances.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical center success-stories">
          
            <div class="ui middle aligned stackable grid container s">
                <div class="row title">
                    <div class="column">
                        <h1>Success Stories</h1>
                    </div>
                </div>
                <div class="detail-block col-1of1">

                  <div class="row">
                    <h5 class="title">SmartPay</h5>
                    
                    <div class="col-8of12 left">
                      <p>SmartPay is a listed corporation on the New Zealand Stock Exchange. It is one of the major resellers of prepaid mobile telephone top up capacity in this country. The corporation undertook a major expansion plan to increase its products and service offerings, to its customer-base, nationwide. The corporation required a mixture of debt funding and issuance of new shares to fund this expansion plan. FE Investments provided funding for its expansion plan and concurrently FE Securities was the arranger and corporate adviser for a rights issue to raise further equity.</p>
                      <p>FE Investments was involved in the acquisition of assets and business operations of ProvencoCadmus (after it went into receivership) by structuring a funding package to enable SmartPay to complete the acquisition.</p>
                    </div>
                    <div class="col-4of12 right">
                      <img src="./images/success-stories-1.png">
                    </div>

                  </div>
                  <div class="row">
                    <h5 class="title">Orams Marine</h5>
                    
                    <div class="col-8of12 left">
                      <p>Orams Marine is the largest marine servicing company in New Zealand and has been operating for over fifty years. It is heavily involved in marine brokerage, maintenance and boatpark facilities. It has established a worldwide reputation for servicing megayachts from around the world.</p>
                      <p>FE Investments’ Directors were retained by the shareholders of Orams Marine to expand the company’s activities. The involvement began in 1999 and involved FE Directors working closely with the shareholders to revamp its corporate structure, providing input to its strategic plan and procuring the requisite funding to implement its expansion plans including arranging two public issues to raise capital to meet the company’s growth strategy.</p>
                      <p>The assets and operations of Orams Marine were sold to a listed Australian corporation in July 2007.</p>
                      <p>Orams Marine Village has now cemented its international reputation as a well-known marine industry hub situated on the edge of Auckland City for servicing vessels from across the globe.</p>
                    </div>
                    <div class="col-4of12 right">
                      <img src="./images/success-stories-2.png">
                    </div>

                  </div>
                  <div class="row">
                    <h5 class="title">Warm Up</h5>
                    
                    <div class="col-8of12 left">
                      <p>Orams Marine is the largest marine servicing company in New Zealand and has been operating for over fifty years. It is heavily involved in marine brokerage, maintenance and boatpark facilities. It has established a worldwide reputation for servicing megayachts from around the world.</p>
                      <p>FE Investments’ Directors were retained by the shareholders of Orams Marine to expand the company’s activities. The involvement began in 1999 and involved FE Directors working closely with the shareholders to revamp its corporate structure, providing input to its strategic plan and procuring the requisite funding to implement its expansion plans including arranging two public issues to raise capital to meet the company’s growth strategy.</p>
                      <p>The assets and operations of Orams Marine were sold to a listed Australian corporation in July 2007.</p>
                      <p>Orams Marine Village has now cemented its international reputation as a well-known marine industry hub situated on the edge of Auckland City for servicing vessels from across the globe.</p>
                    </div>
                    <div class="col-4of12 right">
                      <img src="./images/success-stories-3.png">
                    </div>

                  </div>
                  <div class="row">
                    <h5 class="title">South Pacific Books</h5>
                    
                    <div class="col-8of12 left">
                      <p>Orams Marine is the largest marine servicing company in New Zealand and has been operating for over fifty years. It is heavily involved in marine brokerage, maintenance and boatpark facilities. It has established a worldwide reputation for servicing megayachts from around the world.</p>
                      <p>FE Investments’ Directors were retained by the shareholders of Orams Marine to expand the company’s activities. The involvement began in 1999 and involved FE Directors working closely with the shareholders to revamp its corporate structure, providing input to its strategic plan and procuring the requisite funding to implement its expansion plans including arranging two public issues to raise capital to meet the company’s growth strategy.</p>
                      <p>The assets and operations of Orams Marine were sold to a listed Australian corporation in July 2007.</p>
                      <p>Orams Marine Village has now cemented its international reputation as a well-known marine industry hub situated on the edge of Auckland City for servicing vessels from across the globe.</p>
                    </div>
                    <div class="col-4of12 right">
                      <img src="./images/success-stories-4.png">
                    </div>

                  </div>

                </div>
            </div>
        </div>

        <div class="ui vertical segment blurb homepage">
            <div class="ui text container">
                <div class="h5 sharpen">FE Investments is a Non Bank Deposit Taker </div>
                <div class="h3 empathy">0800 334 683</div>
            </div>
        </div>