        <footer class="footer" id="footer">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="segment sitemap">
                      <div class="lists">
                        <ul class="ui inverted link">
                            <li><a href="http://www.fei.co.nz/en-us/investing.aspx" class="item">Investing</a></li>
                            <li><a href="http://www.fei.co.nz/en-us/financing.aspx" class="item">Financing</a></li>
                            <li><a href="http://www.fei.co.nz/en-us/downloads.aspx" class="item">Downloads</a></li>
                            <li><a href="http://www.fei.co.nz/en-us/investing/aboutfei.aspx" class="item">About Us</a></li>
                            <li><a href="http://www.fei.co.nz/en-us/contact.aspx" class="item">Contact Us</a></li>
                            <li><a href="http://www.fei.co.nz/en-us/investing/faq.aspx" class="item">FAQ</a></li>
                                                        <li><a href="http://www.fei.co.nz/Default.aspx?tabid=141&language=en-US" class="item">Terms of Use</a></li>
                            <li><a href="http://www.fei.co.nz/Default.aspx?tabid=140&language=en-US" class="item">Privacy</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="segment about">
                      <div class="col-3of5">
                        <article>
                          <h5 class="ui inverted">About the Company</h5>
                          <p class="ui inverted description">
                            FE Investments Limited (FEI) has been operating since July 2003. It is a non-bank deposit taker (NBDT) operating under the relevant regulations issued by the Reserve Bank of New Zealand. Trustees Executors Limited, an independent trustee corporation, monitors FEI’s performance on behalf of our depositors. FEI lends money and provides financial support to enterprises in the business and property sectors.
                          </p>
                        </article>
                      </div>
                      <div class="col-2of5 highlight">
                        <h5 class="ui inverted">Highlight</h5>
                        <div class="lists">
                          <ul>
                            <li>13+ Years Experience in New Zealand</li>
                            <li>Attractive Interest Rates</li>
                            <li>100% On Time Payment Upon Maturity</li>
                            <li>Standard and Poors Rating B Stable</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="segment contact">
                      <article>
                        <h5 class="ui inverted strong">FE Investments Limited</h5>
                        <ul class="ui inverted lists">
                          <li class="item address">
                            <div>Level 8, 92 Albert Street</div>
                            <div>Auckland City</div>
                            <div>PO Box 106 264</div>
                            <div>Auckland</div>
                            <div>New Zealand</div>
                          </li>
                          <li  class="item website"><a href="http://www.fei.co.nz/">www.fei.co.nz</a></li>
                          <li class="item phone"><a href="tel:6493599445" >Ph: +64 9 359 9445</a></li>
                        </ul>
                      </article>
                    </div>
                </div>
            </div>
        </footer>
    </div>
  <!-- build:js scripts/vendor-@@hashname.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- inject:js -->
  <script src="/scripts/vendors/modal.js"></script>
  <script src="/scripts/vendors/toggle.js"></script>
  <script src="/scripts/vendors/tab.js"></script>
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:js scripts/app-@@hashname.js -->
  <!-- inject:js -->
  <script src="/scripts/main.js"></script>
  <!-- js files will be automatically insert here -->
  <!-- endinject -->
  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->
  </body>
</html>