        <div class="ui vertical center hero">
          <div class="hero-image-block">
            <div class="ui text container">
              <section>
                <div class="table-cell">
                  <h1 class="ui empathy">6.0% p.a for 12 months</h1>
                  <h1 class="ui empathy">Amazing new term deposit rate</h1>
                  <h2>Will you be one of the first to secure our amazing <br>new term-deposit rate?</h2>
                  <h3>For deposits $5,000 - $1,000,000</h3>
                  <div class="ui cta-block">
                    <a class="primary button" href="/application/">Open a Term Deposit </a>
                    <h6>Rate available for a limited time! </h6>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <nav class="hero-menu">
            <div class="ul container">
              <ul class="hero-menu-block ui top attached tabular menu">
                <li class="hero-menu-item root"><span class="intro">Invest with us:</span></li>
                <li class="hero-menu-item item active" data-tab="term-deposits"><span>Term deposits</span></li>
                <li class="hero-menu-item item" data-tab="security-of-the-deposits"><span>Security of the deposits</span></li>
                <li class="hero-menu-item item" data-tab="investment-documents"><span>Investment Documents</span></li>
                <li class="hero-menu-item item" data-tab="credit-rating"><span>Credit Rating</span></li>
              </ul>
            </div>
          </nav>
        </div>

        <div class="ui vertical stripe segment deposit-rate">
          
          <div class="ui bottom attached tab segment active" data-tab="term-deposits">
            <div class="ui middle aligned stackable grid container">
                <div class="row title">
                    <div class="center aligned column">
                        <h2>Choose a term deposit rate</h2>
                        <div class="sub">Choose how long you want to invest for and how you want your interest paid,<br>
                          then sit back and watch your savings grow. <i class="fa fa-search" aria-hidden="true"></i> <a target="new" href="https://www.standardandpoors.com/en_US/web/guest/ratings/entity/-/org-details/sectorCode/FI/entityId/561004">See all rates</a>.
                        </div>
                    </div>
                </div>
                <div class="row options">
                    <div class="promo-block">
                        <h2 class="ui header">6.0%</h2>
                        <div class="months">12 months</div>
                        <div class="amount">$5,000 or over</div>
                        <a href="/application/#/?term=12" class="button-sec">Apply Now</a>
                    </div>
                    <div class="promo-block margin-l2 margin-r2">
                        <h2 class="ui header">6.5%</h2>
                        <div class="months">18 months</div>
                        <div class="amount">$5,000 or over</div>
                        <a href="/application/#/?term=18" class="button-sec">Apply Now</a>
                    </div>
                    <div class="promo-block">
                        <h2 class="ui header">6.2%</h2>
                        <div class="months">24 months</div>
                        <div class="amount">$5,000 or over</div>
                        <a href="/application/#/?term=24" class="button-sec">Apply Now</a>
                    </div>
                </div>
                <div class="row footer">
                    <div class="center aligned column">
                      <h2>Or Call us</h2>
                      <div class="h4">To invest on <a href="tel:0800334683">0800 334 683</a> or <span class="cn">中文热线</span> <a href="tel:0800338168">0800 338 168</a></div>
                    </div>
                </div>
            </div>
          </div>
          <div class="ui bottom attached tab segment" data-tab="security-of-the-deposits">
            <div class="ui middle aligned stackable grid container">
                <div class="row title">
                    <div class="center aligned column">
                      <h2>Security of the deposits</h2>
                    </div>
                </div>
                <div class="row options">
                  <p class="security">
                    FE Investments Limited (FEI) has been operating since July 2003. It is a non-bank deposit taker (NBDT) operating under the relevant regulations issued by the Reserve Bank of New Zealand. Foundation Corporate Trust, an independent trustee corporation, monitors FEI’s performance on behalf of our depositors. FEI lends money and provides financial support to enterprises in the business and property sectors.
                  </p>
                </div>
            </div>
          </div>
          <div class="ui bottom attached tab segment" data-tab="investment-documents">
            <div class="ui middle aligned stackable grid container">
                <div class="row title">
                    <div class="center aligned column">
                      <h2>Investment Documents</h2>
                      <div class="sub">The following documents are available for download in PDF format. To view these documents you will require Adobe Reader version 6 or higher. <a href="http://get.adobe.com/reader/otherversions/" target="new">You can get a free copy of this software here</a>. If you experience any difficulty downloading these documents please email the FEI Team or phone <a class="tel-icon" href="tel:0800334683">0800 334 683</a> during business hours.</div>
                    </div>
                </div>
                <div class="row options documents">
                    <ul class="list">
                      <li><a href="http://www.fei.co.nz/Portals/FEI/Pdfs/FEI_Investment_Statement.pdf" target="_blank">Download the Investment Statement</a></li>
                      <li><a href="http://www.fei.co.nz/Portals/FEI/Pdfs/FEI_Prospectus.pdf" target="_blank"> Download the prospectus</a></li>
                      <li><a href="http://www.fei.co.nz/Portals/FEI/pdfs/FEI_application_form.pdf" target="_blank"> Download the Application Form</a></li>
                      <li><a href="http://www.fei.co.nz/Portals/FEI/Pdfs/FEI_rate_card_En.pdf" target="_blank"> Download Current Interest Rate Card</a></li>
                      <li><a href="http://www.fei.co.nz/Portals/FEI/Pdfs/FEI_rate_card_Ch.pdf" target="_blank">下载最新中文利率表</a></li>
                      <li><a href="http://www.fei.co.nz/Portals/FEI/Pdfs/Declaration_of_Non-Resident_for_tax%20_purposes.pdf" target="_blank">Non-Resident Declaration Form</a></li>
                      <li><a href="http://www.fei.co.nz/Portals/FEI/Pdfs/Authorisation_Letter.pdf" target="_blank"> Authority Letter</a></li>
                    </ul>
                </div>
            </div>
          </div>
          <div class="ui bottom attached tab segment" data-tab="credit-rating">
            <div class="ui middle aligned stackable grid container">
                <div class="row title">
                    <div class="center aligned column">
                      <h2>Credit Rating</h2>
                      <div class="sub">FE Investments Limited has a credit rating of "B Stable" from Standard & Poor's.<br>
                          Further information on credit ratings can be found on the Standard & Poor's website.
                      </div>
                    </div>
                </div>
                <div class="row options">
                  <div class="link-logo"><a href="https://www.standardandpoors.com/" target="new"><img src="images/stnp-global-logo.png" alt="www.standardandpoors.com"></a></div>
                  <div class="links"><a href="https://www.standardandpoors.com/" target="new">www.standardandpoors.com</a></div>
                </div>
            </div>
          </div>
        </div>

        <div class="ui vertical stripe segment call-to-action">
            <div class="ui text container">
                <h3 class="ui">How does FEI help the New Zealand economy grow?</h3>
                <p>Since 2003 FEI has been providing financing and financing solutions to successful small and medium sized enterprises as well as small listed companies. To learn more about what we do <a href="http://www.fei.co.nz/en-us/financing.aspx">click here</a>.</p>
            </div>
        </div>