        <div class="ui vertical center hero">
          <div class="hero-image-block">
            <div class="ui text container">
              <section>
                <div class="table-cell">
                  <h1 class="ui empathy">6.0% p.a for 12 months</h1>
                  <h1 class="ui empathy">Amazing new term deposit rate</h1>
                  <h2>Will you be one of the first to secure our amazing <br>new term-deposit rate?</h2>
                  <h3>For deposits $5,000 - $1,000,000</h3>
                  <div class="ui cta-block">
                    <a class="primary button" href="/application/">Open a Term Deposit </a>
                    <h6>Rate available for a limited time! </h6>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <nav class="hero-menu">
            <div class="ul container">
              <ul class="hero-menu-block ui top attached tabular menu">
                <li class="hero-menu-item root"><span class="intro">Invest with us:</span></li>
                <li class="hero-menu-item item active" data-tab="term-deposits"><span>Term deposits</span></li>
                <li class="hero-menu-item item" data-tab="security-of-the-deposits"><span>Security of the deposits</span></li>
                <li class="hero-menu-item item" data-tab="investment-documents"><span>Investment Documents</span></li>
                <li class="hero-menu-item item" data-tab="credit-rating"><span>Credit Rating</span></li>
              </ul>
            </div>
          </nav>
        </div>

        <div class="ui vertical stripe segment deposit-rate">
          
          <div class="ui bottom attached tab segment active" data-tab="term-deposits">
            <div class="ui middle aligned stackable grid container">
                <div class="row title">
                    <div class="center aligned column">
                        <h2>Choose a term deposit rate</h2>
                        <div class="sub">Choose how long you want to invest for and how you want your interest paid,<br>
                          then sit back and watch your savings grow. <i class="fa fa-search" aria-hidden="true"></i> <a target="new" href="https://www.standardandpoors.com/en_US/web/guest/ratings/entity/-/org-details/sectorCode/FI/entityId/561004">See all rates</a>.
                        </div>
                    </div>
                </div>
<div class="row options">
<div class="promo-block">
<h2 class="ui header">6.0% <small>p.a</small></h2>
<div class="months">12 months</div>
<div class="amount">$10,000 or over</div>
<p><a class="button-sec" href="/application/#/?term=12">Apply Now</a></p></div>
<p>
</p><div class="promo-block">
<h2 class="ui header">6.2% <small>p.a</small></h2>
<div class="months">24 months</div>
<div class="amount">$5,000 or over</div>
<p><a class="button-sec" href="/application/#/?term=24">Apply Now</a></p></div>
<p>
</p><div class="promo-block">
<h2 class="ui header">6.5% <small>p.a</small></h2>
<div class="months">18 months</div>
<div class="amount">$10,000 or over</div>
<p><a class="button-sec" href="/application/#/?term=18">Apply Now</a></p></div>
<p></p></div>
                <div class="row footer">
                    <div class="center aligned column">
                      <h2>Or Call us</h2>
                      <div class="h4">To invest on <a href="tel:0800334683">0800 334 683</a> or <span class="cn">中文热线</span> <a href="tel:0800338168">0800 338 168</a></div>
                    </div>
                </div>
            </div>
          </div>
          <div class="ui bottom attached tab segment" data-tab="security-of-the-deposits">
            <div class="ui middle aligned stackable grid container">
                <div class="row title">
                    <div class="center aligned column">
                      <h2>Security of the deposits</h2>
                    </div>
                </div>
                <div class="row options">
                  <p class="security">
                    FE Investments Limited (FEI) has been operating since July 2003. It is a non-bank deposit taker (NBDT) operating under the relevant regulations issued by the Reserve Bank of New Zealand. Foundation Corporate Trust, an independent trustee corporation, monitors FEI’s performance on behalf of our depositors. FEI lends money and provides financial support to enterprises in the business and property sectors.
                  </p>
                </div>
            </div>
          </div>
          <div class="ui bottom attached tab segment" data-tab="investment-documents">
            <div class="ui middle aligned stackable grid container">
                <div class="row title">
                    <div class="center aligned column">
                      <h2>Investment Documents</h2>
                      <div class="sub">The following documents are available for download in PDF format. To view these documents you will require Adobe Reader version 6 or higher. <a href="http://get.adobe.com/reader/otherversions/" target="new">You can get a free copy of this software here</a>. If you experience any difficulty downloading these documents please email the FEI Team or phone <a class="tel-icon" href="tel:0800334683">0800 334 683</a> during business hours.</div>
                    </div>
                </div>
                <div class="row options documents">
                    <ul class="list">
                      <li><a href="http://www.fei.co.nz/Portals/FEI/Pdfs/FEI_Investment_Statement.pdf" target="_blank">Download the Investment Statement</a></li>
                      <li><a href="http://www.fei.co.nz/Portals/FEI/Pdfs/FEI_Prospectus.pdf" target="_blank"> Download the prospectus</a></li>
                      <li><a href="http://www.fei.co.nz/Portals/FEI/pdfs/FEI_application_form.pdf" target="_blank"> Download the Application Form</a></li>
                      <li><a href="http://www.fei.co.nz/Portals/FEI/Pdfs/FEI_rate_card_En.pdf" target="_blank"> Download Current Interest Rate Card</a></li>
                      <li><a href="http://www.fei.co.nz/Portals/FEI/Pdfs/FEI_rate_card_Ch.pdf" target="_blank">下载最新中文利率表</a></li>
                      <li><a href="http://www.fei.co.nz/Portals/FEI/Pdfs/Declaration_of_Non-Resident_for_tax%20_purposes.pdf" target="_blank">Non-Resident Declaration Form</a></li>
                      <li><a href="http://www.fei.co.nz/Portals/FEI/Pdfs/Authorisation_Letter.pdf" target="_blank"> Authority Letter</a></li>
                    </ul>
                </div>
            </div>
          </div>
          <div class="ui bottom attached tab segment" data-tab="credit-rating">
            <div class="ui middle aligned stackable grid container">
                <div class="row title">
                    <div class="center aligned column">
                      <h2>Credit Rating</h2>
                      <div class="sub">FE Investments Limited has a credit rating of "B Stable" from Standard & Poor's.<br>
                          Further information on credit ratings can be found on the Standard & Poor's website.
                      </div>
                    </div>
                </div>
                <div class="row options">
                  <div class="link-logo"><a href="https://www.standardandpoors.com/" target="new"><img src="images/stnp-global-logo.png" alt="www.standardandpoors.com"></a></div>
                  <div class="links"><a href="https://www.standardandpoors.com/" target="new">www.standardandpoors.com</a></div>
                </div>
            </div>
          </div>
        </div>

        <div class="ui vertical segment success-letter">

          <div class="row center aligned column">
            <div class="title container">
              <h2>Success Letter</h2>
              <div class="h4">FEI’s Success Letter is a regular series of newsletters provided with our compliments.</div>
            </div>

            <div class="ui text container">
              <div class="letter-blog-block col-1of3">
                <article>
                  <header><small>Issued</small><h4 class="written-by sharpen">21th August 2016, Mel Stewart</h4></header>
                  <h3 class="title"><a href="#">Lorem Ipsum is simply dummy text of the ...</a></h3>
                  <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknow...</p>
                  <a class="btn read-more">Read more</a>
                </article>
                <div class="border border-top"></div>
                <div class="border border-right"></div>
                <div class="border border-bottom"></div>
                <div class="border border-left"></div>
              </div>
              <div class="letter-blog-block col-1of3">
                <article>
                  <header><small>Issued</small><h4 class="written-by sharpen">21th August 2016, Mel Stewart</h4></header>
                  <h3 class="title"><a href="#">Lorem Ipsum is simply dummy text of the ...</a></h3>
                  <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknow...</p>
                  <a class="btn read-more">Read more</a>
                </article>
                <div class="border border-top"></div>
                <div class="border border-right"></div>
                <div class="border border-bottom"></div>
                <div class="border border-left"></div>
              </div>
              <div class="letter-blog-block col-1of3">
                <article>
                  <header><small>Issued</small><h4 class="written-by sharpen">21th August 2016, Mel Stewart</h4></header>
                  <h3 class="title"><a href="#">Lorem Ipsum is simply dummy text of the ...</a></h3>
                  <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknow...</p>
                  <a class="btn read-more">Read more</a>
                </article>
                <div class="border border-top"></div>
                <div class="border border-right"></div>
                <div class="border border-bottom"></div>
                <div class="border border-left"></div>
              </div>
            </div>

            <div class="subscribe container">
              <div class="col-1of2 left">
                <img src="./images/success-tree-coins.jpg">
              </div>
              <div class="col-1of2 right">
                
                <div class="subscribe-block">
                  <h5>FEI’s Success Letter is a regular series of newsletters provided with our compliments.</h5>
                  <h3>Subscribe to our Success Letter</h3>
                  <form name="subscribe" lpformnum="1">
                    <input type="text" name="name" placeholder="Name" required />
                    <input type="email" name="email" placeholder="Email" required />
                    <button type="submit" class="capitalise btn">Subscribe</button>
                  </form>
                  <div class="alert-box">
                    Please enter name or email
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

        <div class="ui vertical segment blurb-logo homepage">
            <div class="ui text container">
                <div class="col-1of2 left">
                    <div class="h3 sharpen">FE Investments is a Non Bank Deposit Taker </div>
                    <div class="h3 sharpen">licensed by the <span class="empathy">Reserve Bank of New Zealand</span></div>
                </div>
                <div class="col-1of2 right">
                    <img src="images/snp-logo.png" width="178" alt="Standard poor's">
                </div>
            </div>
        </div>