    <!-- Page Contents -->
    <div class="wrapper pusher">

        <div class="region-header home">
            <header class="header" id="header">
                <div class="container">
                    <div class="header-logo pull-left">
                        <a href="/" class="sprite sprite-bnz-blue" title="FE Investments Home">
                          <picture>
                            <img src="/images/header-logo@x1.png" height="65" alt="FE Investments">
                          </picture>
                        </a>
                    </div>
                    <nav class="top-nav pull-right cd-primary-nav">
                        <ul class="nav nav-bar">
                            <!-- <li class="nav-item">
                                <img src="./images/phone-call-icon.png" class="phone-call icon" width="40">
                            </li> -->
                            <li class="nav-item call">
                                <div class="nav-call">Investing</div>
                                <div class="nav-call cn">中文热线</div>
                            </li>
                            <li class="nav-item call">
                                <div class="nav-call empathy">0800 334 683</div>
                                <div class="nav-call empathy">0800 338 168</div>
                            </li>
                        </ul>
                    </nav>
                    <nav class="header-nav pull-right cd-primary-nav">
                        <ul class="nav nav-bar" style="">
                            <li class="cd-label">FE Investments</li>
                            <li class="nav-item link"><a href="./about-us.html" class="nav-link">About Us</a>
                            </li>
                            <li class="nav-item link"><a href="./investing.html" class="nav-link">Investing</a>
                            </li>
                            <li class="nav-item link"><a href="./financing.html" class="nav-link">Financing</a>
                            </li>
                            <li class="nav-item link"><a href="./success-letter.html" class="nav-link">Success Letter</a>
                            </li>
                            <li class="nav-item link"><a href="./contact-us.html" class="nav-link">Contact Us</a>
                            </li>
                            <li class="nav-item link"><a href="http://www.fei.co.nz.spwd.net.nz/en-us/%e4%b8%ad%e6%96%87/%e5%85%b3%e4%ba%8e%e6%88%91%e4%bb%ac.aspx" class="nav-link cn">中文</a>
                            </li>
                        </ul>
                    </nav>
                    <a class="cd-nav-trigger">Menu<span aria-hidden="true" class="cd-icon"></span></a>
                </div>
            </header>
        </div>