        <div class="ui vertical center hero">
          <div class="term-table-block">
            <div class="ui text container">
              <section>
                <div class="table-cell">
                  
                  <h1 class="ui sharpen">You can invest in our secured term deposits and take advantage of our great rates.</h1>
                  <div class="col-3of7 left">
                    <div class="table-block">

                      <table class="ui striped table">
                        <thead>
                          <tr>
                          <th colspan="2">
                            <h3>Term Deposit Interest Rates - NZD</h3>
                          </th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr class="header">
                            <td>Term</td>
                            <td>$5,000 or over (%. p.a.)</td>
                          </tr>
                          <tr>
                            <td>6 months</td>
                            <td>5.8%</td>
                          </tr>
                          <tr>
                            <td>12 months</td>
                            <td>5.5%</td>
                          </tr>
                          <tr>
                            <td>18 months</td>
                            <td>5.8%</td>
                          </tr>
                          <tr>
                            <td>24 months</td>
                            <td>6.2%</td>
                          </tr>
                          <tr>
                            <td>36 months</td>
                            <td>6.3%</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-4of7 right">
                    <article>
                      <div class="h4 sharpen">Investing in FEI’s secured term deposits* is easy. Just select your preferred rate and term from the table. Depending on the customer’s situation FEI is happy to tailor-make a deposit rate and term to help investors achieve higher returns where possible.</div>
                      <div class="ui cta-block">
                        <a class="button button-sec" href="http://www.fei.co.nz/Default.aspx?tabid=122&language=en-US">Open a Term Deposit </a>
                      </div>
                    </article>
                  </div>
                  
                </div>
              </section>
            </div>
          </div>
          <nav class="hero-menu no-bg">
            <div class="ul container">
              <ul class="hero-menu-block ui top attached tabular menu">
                <li class="hero-menu-item root"><span class="intro">Invest with us:</span></li>
                <li class="hero-menu-item item active" data-tab="term-deposits"><span>How to Invest</span></li>
                <li class="hero-menu-item item" data-tab="security-of-the-deposits"><span>FAQs</span></li>
                <li class="hero-menu-item item" data-tab="investment-documents"><span>Security of the deposits</span></li>
                <li class="hero-menu-item item" data-tab="credit-rating"><span>Investment Documents</span></li>
                <li class="hero-menu-item item" data-tab="Credit Rating"><span>Credit Rating</span></li>
              </ul>
            </div>
          </nav>
        </div>

        <div class="ui vertical center how-to-invest">
          
            <div class="ui middle aligned stackable grid container">
                <div class="row title">
                    <div class="center aligned column">
                        <h2>How to Invest</h2>
                        <div class="sub">Investing in FEI’s secured term deposits* is easy.</div>
                    </div>
                </div>
                <div class="row options">

                    <div class="step-circle col-1of4">
                      <article>
                        <div class="table-cell">
                          <h2 class="ui header">Step 1</h2>
                          <div class="decr">Select amount to invest, rate and term</div>

                        </div>
                      </article>
                    </div>

                    <div class="step-circle col-1of4">
                      <article>
                        <div class="table-cell">
                          <h2 class="ui header">Step 2</h2>
                          <div class="decr">Fill out and submit application</div>

                        </div>
                      </article>
                    </div>

                    <div class="step-circle col-1of4">
                      <article>
                        <div class="table-cell">
                          <h2 class="ui header">Step 3</h2>
                          <div class="decr">Get Verified</div>

                        </div>
                      </article>
                    </div>

                     <div class="step-circle col-1of4">
                      <article>
                        <div class="table-cell">
                          <h2 class="ui header">Step 4</h2>
                          <div class="decr">Send Payment</div>

                        </div>
                      </article>
                    </div>
                </div>

                <div class="row call-to-action">
                  <a class="btn" href="/application">Apply Now</a>
                </div>
            </div>

        </div>

        <div class="ui vertical segment subscribe-success-letter">
          <div class="ui text container">
            <div class="col-8of12 left">
              <img src="./images/success-letter-image-top.png" alt="success letter" height="250" />
            </div>
            <div class="col-4of12 right">
              <div class="subscribe-block">
                <h5>FEI’s Success Letter is a regular series of newsletters provided with our compliments.</h5>
                <h3>Subscribe to our Success Letter</h3>
                <form name="subscribe">
                  <input type="text" name="name" placeholder="name" required />
                  <input type="email" name="email" placeholder="email" required />
                  <button type="submit" class="capitalise btn">Subscribe</button>
                </form>
              </div>
            </div>
          </div>
          <div class="row footer">
            <div class="container">
              <img src="./images/success-letter-image-bottom.png" alt="success letter" height="213" />
            </div>
          </div>
        </div>

        <div class="ui vertical segment blurb-logo homepage">
            <div class="ui text container">
                <div class="col-1of2 left">
                    <div class="h3 sharpen">FE Investments is a Non Bank Deposit Taker </div>
                    <div class="h3 sharpen">licensed by the <span class="empathy">Reserve Bank of New Zealand</span></div>
                </div>
                <div class="col-1of2 right">
                    <img src="images/snp-logo.png" width="178" alt="Standard poor's">
                </div>
            </div>
        </div>