    <!-- Page Contents -->
    <div class="wrapper pusher">

        <div class="region-header">
            <header class="header" id="header">
                <div class="container">
                    <div class="header-logo pull-left">
                        <a href="/" class="sprite sprite-bnz-blue" title="FE Investments Home">
                          <picture>
                            <img src="/images/header-logo.png" height="65" alt="FE Investments">
                          </picture>
                        </a>
                    </div>
                    <nav class="header-nav pull-right cd-primary-nav">
                        <ul class="nav nav-bar" style="">
                            <li class="cd-label">FE Investments</li>
                            <li class="nav-item link"><a href="http://www.fei.co.nz/en-us/investing/aboutfei.aspx" class="nav-link">About Us</a>
                            </li>
                            <li class="nav-item link"><a href="http://www.fei.co.nz/en-us/investing.aspx" class="nav-link">Investing</a>
                            </li>
                            <li class="nav-item link"><a href="http://www.fei.co.nz/en-us/financing.aspx" class="nav-link">Financing</a>
                            </li>
                        </ul>
                    </nav>
                    <a class="cd-nav-trigger">Menu<span aria-hidden="true" class="cd-icon"></span></a>
                </div>
            </header>
        </div>