      <div class="ui vertical center hero ">
        <div class="letter-single-head">
          <div class="ui text container s">
              <div class=header-text>
                <h3>The</h3>
                <h2>Success</h2>
                <h4>Letter</h4>
              </div>
              <img src="./images/success-tree-coins.jpg" alt="success letter" height="340">
          </div>
        </div>
      </div>

      <div class="ui left hero">
          <div class="letter-date-issued">
            <div class="ui text container s">
                 <span>September 2016</span>
            </div>
          </div>
      </div>

      <div class="ui left hero">
          <div class="letter-date-title">
            <div class="ui text container s">
                 <h1>New Zealand</h1>
                 <h1>Popluation Trends</h1>
            </div>
          </div>
      </div>


      <div class="ui row segment">
        <div class="letter-contents container s">

          <p class="author"><strong>Contributor:</strong> <strong>TK Shim</strong>, Puslished 23th September 2016</p>

          <article class="articles">

            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            
            <blockquote><p> “There is no comparison between the strength and financial support available from the Australian stock market and that from the New Zealand market.&nbsp; The merger gives FEI a major new source of capital and funding to aid its future growth considerably enhancing its financial prospects. We are very excited about the future possibilities.”</p></blockquote>

            <p>
              The chart below shows a steep increase in poplulation number from June 2013 to June 2016:
            </p>

            <p>
              <img src="./images/article-attachment.png" alt="success letter">
            </p>

            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>

            <p>
              The chart below shows a steep increase in poplulation number from June 2013 to June 2016:
            </p>

            <p>
              <img src="./images/article-attachment2.png" alt="success letter" >
            </p>

          </article>

        </div>
      </div>

      <div class="ui vertical segment success-letter you-might-also-like">

        <div class="row center aligned column">
          <div class="title container">
            <!-- <h2>Success Letter</h2> -->
            <h3 class="capitalise">You might also Like</h3>
          </div>

          <div class="ui text container">

            <div class="letter-blog-block col-1of3">
              <article>
                <header><small>Issued</small><h4 class="written-by sharpen">21th August 2016, Mel Stewart</h4></header>
                <h3 class="title"><a href="#">Lorem Ipsum is simply dummy text of the ...</a></h3>
                <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknow...</p>
                <a class="btn read-more">Read more</a>
              </article>
              <div class="border border-top"></div>
              <div class="border border-right"></div>
              <div class="border border-bottom"></div>
              <div class="border border-left"></div>
            </div>

            <div class="letter-blog-block col-1of3">
              <article>
                <header><small>Issued</small><h4 class="written-by sharpen">21th August 2016, Mel Stewart</h4></header>
                <h3 class="title"><a href="#">Lorem Ipsum is simply dummy text of the ...</a></h3>
                <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknow...</p>
                <a class="btn read-more">Read more</a>
              </article>
              <div class="border border-top"></div>
              <div class="border border-right"></div>
              <div class="border border-bottom"></div>
              <div class="border border-left"></div>
            </div>

            <div class="letter-blog-block col-1of3">
              <article>
                <header><small>Issued</small><h4 class="written-by sharpen">21th August 2016, Mel Stewart</h4></header>
                <h3 class="title"><a href="#">Lorem Ipsum is simply dummy text of the ...</a></h3>
                <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknow...</p>
                <a class="btn read-more">Read more</a>
              </article>
              <div class="border border-top"></div>
              <div class="border border-right"></div>
              <div class="border border-bottom"></div>
              <div class="border border-left"></div>
            </div>

            <div class="letter-blog-block col-1of3">
              <article>
                <header><small>Issued</small><h4 class="written-by sharpen">21th August 2016, Mel Stewart</h4></header>
                <h3 class="title"><a href="#">Lorem Ipsum is simply dummy text of the ...</a></h3>
                <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknow...</p>
                <a class="btn read-more">Read more</a>
              </article>
              <div class="border border-top"></div>
              <div class="border border-right"></div>
              <div class="border border-bottom"></div>
              <div class="border border-left"></div>
            </div>

            <div class="letter-blog-block col-1of3">
              <article>
                <header><small>Issued</small><h4 class="written-by sharpen">21th August 2016, Mel Stewart</h4></header>
                <h3 class="title"><a href="#">Lorem Ipsum is simply dummy text of the ...</a></h3>
                <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknow...</p>
                <a class="btn read-more">Read more</a>
              </article>
              <div class="border border-top"></div>
              <div class="border border-right"></div>
              <div class="border border-bottom"></div>
              <div class="border border-left"></div>
            </div>

            <div class="letter-blog-block col-1of3">
              <article>
                <header><small>Issued</small><h4 class="written-by sharpen">21th August 2016, Mel Stewart</h4></header>
                <h3 class="title"><a href="#">Lorem Ipsum is simply dummy text of the ...</a></h3>
                <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknow...</p>
                <a class="btn read-more">Read more</a>
              </article>
              <div class="border border-top"></div>
              <div class="border border-right"></div>
              <div class="border border-bottom"></div>
              <div class="border border-left"></div>
            </div>

            <div class="letter-blog-block col-1of3">
              <article>
                <header><small>Issued</small><h4 class="written-by sharpen">21th August 2016, Mel Stewart</h4></header>
                <h3 class="title"><a href="#">Lorem Ipsum is simply dummy text of the ...</a></h3>
                <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknow...</p>
                <a class="btn read-more">Read more</a>
              </article>
              <div class="border border-top"></div>
              <div class="border border-right"></div>
              <div class="border border-bottom"></div>
              <div class="border border-left"></div>
            </div>

          </div>


        </div>

      </div>

        <div class="ui vertical segment blurb homepage">
            <div class="ui text container">
                <div class="h5 sharpen">FE Investments is a Non Bank Deposit Taker </div>
                <div class="h3 empathy">0800 334 683</div>
            </div>
        </div>
